*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (width:1024px){
  .background-color{
    background-color: aqua;
  }  
}
@media screen and (width:1440px){
    .background-color{
        background-color: red;
    }  
  }
