<!DOCTYPE html>
<html>

<head>
    <title>Cup-image-svg</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <svg viewbox="0 0 370 423" xmlns="http://www.w3.org/2000/svg">
        <path d="M 99 338 C 36 375 210 407 289 368" stroke="black" fill="black"></path>
        <path d="M 99 338 C 41 372 222 402 289 368" stroke="black" fill="white"></path>
        <path d="M 99 338 L 289 368" stroke="white"></path>

        <path d="M 215 30 C 150 73 150 100 215 132" stroke="black" fill="black"></path>
        <path d="M 215 30 C 159 73 159 100 215 132" stroke="black" fill="white"></path>
        <line x1="215" y1="30" x2="215" y2="132" stroke="white"></line>

        <path d="M 215 132 C 260 150 260 161 215 178" stroke="black" fill="black"></path>
        <path d="M 215 132 C 248 150 248 161 215 178" stroke="black" fill="white"></path>
        <line x1="215" y1="132" x2="215" y2="178" stroke="white"></line>

        <path d="M 215 178 C 191 193 180 200 175 228" stroke="black" fill="black"></path>
        <path d="M 215 178 C 193 195 180 200 175 228" stroke="black" fill="white"></path>
        <line x1="215" y1="178" x2="175" y2="228" stroke="white"></line>

        <path d="M 105 250 C 158 238 204 238 246 245" stroke="black" fill="black"></path>
        <path d="M 105 250 C 158 248 204 248 246 245" stroke="black" fill="black"></path>

        <path d="M 265 268 L 253 317" stroke="black"></path>

        <path d="M 265 268 C 271 250 265 240 230 233" stroke="black" fill="black"></path>
        <path d="M 265 268 C 268 250 268 250 230 233" stroke="black" fill="white"></path>
        <line x1="265" y1="268" x2="230" y2="233" stroke="white"></line>

        <path d="M 246 245 C 258 248 258 255 246 259" stroke="black" fill="black"></path>
        <path d="M 246 245 C 248 254 248 256 246 259" stroke="black" fill="white"></path>


        <path d="M 116 256 C 168 267 184 267 246 259" stroke="black" fill="black"></path>
        <path d="M 116 256 C 168 263 184 263 246 259" stroke="black" fill="white"></path>
        <line x1="116" y1="256" x2="246" y2="259" stroke="white"></line>

        <path d="M 240 278 C 234 299 230 311 210 337" stroke="black" fill="white"></path>
        <path d="M 240 278 C 232 299 230 311 210 337" stroke="black" fill="white"></path>

        <path d="M 105 305 L 113 338" stroke="black"></path>

        <path d="M 113 338 L 105 305" stroke="white"></path>

        <path d="M 265 268 C 295 265 302 271 253 317" stroke="black" fill="black"></path>
        <path d="M 265 270 C 292 268 299 268 253 313" stroke="black" fill="white"></path>
        <line x1="265" y1="268" x2="253" y2="317" stroke="black" stroke-width="2"></line>

        <path d="M 113 338 C 134 366 227 359 244 338" stroke="black" fill="black"></path>
        <path d="M 113 338 C 134 361 224 358 244 338" stroke="black" fill="white"></path>
        <line x1="113" y1="338" x2="244" y2="338" stroke="white"></line>

        <path d="M 113 338 C 106 321 106 314 105 305" stroke="black" fill="black"></path>
        <path d="M 113 338 C 107 314 108 321 105 305" stroke="black" fill="black"></path>

        <path d="M 244 338 C 246 333 248 318 253 317" stroke="black" fill="black"></path>
        <path d="M 244 338 C 248 333 250 318 253 317" stroke="black" fill="white"></path>

    </svg>

</body>

</html>