<!DOCTYPE html>
<html>

<head>
    <title>Cup-image-svg</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div style="width:50%;">
        <svg viewbox="0 0 370 423" xmlns="http://www.w3.org/2000/svg">
            <path d="M 215 30 C 171 73 172 100 215 132" stroke="black" fill="black"></path>
            <path d="M 215 30 C 182 73 181 100 215 132" stroke="black" fill="white"></path>
            <path d="M  L "></path>
        </svg>
    </div>
</body>

</html>