<!DOCTYPE html>
<html>

<head>
    <title>Customer-Journey</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <svg viewbox="0 0 440 531" xmlns="http://www.w3.org/2000/svg">
        <path d="M 223 102 L 342 151 390 270 342 392 222 438 101 392 49 270 101 151 223 102" stroke="black" fill="transparent"></path>
        <path d="M 223 102 L 161 208 49 270 161 331 222 438 284 331 390 270 284 208 223 102" stroke="black" fill="transparent"></path>
        <path d="M 161 208 L 161 331 284 331 284 208 161 208" stroke="black" fill="transparent"></path>

        <path d="M 101 151 L 342 151 342 392 101 392 101 151" stroke-dasharray="3" stroke="lightblue" fill="transparent"></path>

        <line x1="101" y1="151" x2="342" y2="392" stroke-dasharray="3" stroke="lightblue"></line>
        <line x1="342" y1="151" x2="101" y2="392" stroke-dasharray="3" stroke="lightblue"></line>
        <line x1="49" y1="270" x2="390" y2="270" stroke-dasharray="3" stroke="lightblue"></line>
        <line x1="223" y1="102" x2="222" y2="438" stroke-dasharray="3" stroke="lightblue"></line>
    </svg>
</body>

</html>