<!DOCTYPE html>
<html>

<head>
    <title>depend-on-us</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <svg viewbox="0 0 549 717" xmlns="http://www.w3.org/2000/svg">
        <path d="M 290 257 L 321 196 284 105" stroke="black" fill="white" />
        <path d="M 494 260 C 427 150 415 140 284 105" stroke="black" fill="white"/>
        <path d="M 353 315 C 341 285 331 271 290 257" stroke="black" fill="white" />
        <path d="M 269 105 L 308 196 277 256" stroke="black" fill="white" />
        <path d="M 204 298 L 154 250 57 257" stroke="black" fill="white" />
        <path d="M 57 257 C 122 159 150 137 269 105" stroke="black" fill="white" />
        <path d="M 204 298 C 228 266 233 264 277 256" stroke="black" fill="white" />
        <path d="M 215 393 L 153 424 132 520" stroke="black" fill="white" />
        <path d="M 199 309 L 151 262 52 270" stroke="black" fill="white" />
        <path d="M 215 393 C 192 358 190 343 199 309" stroke="black" fill="white" />
        <path d="M 132 520 C 47 427 47 417 52 270" stroke="black" fill="white" />
        <path d="M 225 402 L 165 430 143 528" stroke="black" fill="white" />
        <path d="M 404 530 L 320 480 308 411" stroke="black" fill="white" />
        <path d="M 225 402 C 258 420 265 421 308 411" stroke="black" fill="white" />
        <path d="M 143 528 C 261 575 270 575 404 530" stroke="black" fill="white" />
        <path d="M 415 523 L 330 471 320 404" stroke="black" fill="white"></path>
        <path d="M 320 404 C 351 371 356 358 356 328" stroke="black" fill="white" />
        <path d="M 415 523 C 504 409 506 391 498 274" stroke="black" fill="white" />
        <path d="M 498 274 L 426 338 356 328" stroke="black" fill="white" />
        <path d="M 353 315 L 420 326 494 260" stroke="black" fill="white" />
    </svg>
</body>

</html>