<!DOCTYPE html>
<html>

<head>
    <title>More-reliable</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <svg viewbox="0 0 550 717" xmlns="http://www.w3.org/2000/svg">
        <line x1="275" y1="174" x2="275" y2="370" stroke="black"></line>
        <line x1="179" y1="272" x2="368" y2="272" stroke="black"></line>
        <line x1="91" y1="370" x2="275" y2="370" stroke="black"></line>
        <line x1="275" y1="370" x2="461" y2="370" stroke="black"></line>
        <line x1="275" y1="370" x2="275" y2="563" stroke="black"></line>
        <line x1="184" y1="473" x2="365" y2="473" stroke="black"></line>
        <line x1="90" y1="563" x2="275" y2="563" stroke="black"></line>
        <line x1="275" y1="563" x2="461" y2="563" stroke="black"></line>
        <circle cx="275" cy="174" r="51" stroke="black" fill="white"></circle>
        <circle cx="179" cy="272" r="51" stroke="black" fill="white"></circle>
        <circle cx="368" cy="272" r="51" stroke="black" fill="white"></circle>
        <circle cx="91" cy="370" r="51" stroke="black" fill="white"></circle>
        <circle cx="275" cy="370" r="51" stroke="black" fill="white"></circle>
        <circle cx="461" cy="370" r="51" stroke="black" fill="white"></circle>
        <circle cx="184" cy="473" r="51" stroke="black" fill="white"></circle>
        <circle cx="365" cy="473" r="51" stroke="black" fill="white"></circle>
        <circle cx="90" cy="563" r="51" stroke="black" fill="white"></circle>
        <circle cx="275" cy="563" r="51" stroke="black" fill="white"></circle>
        <circle cx="461" cy="563" r="51" stroke="black" fill="white"></circle>
        <circle cx="275" cy="272" r="2" stroke="black" fill="white"></circle>
        <circle cx="179" cy="370" r="2" stroke="black" fill="white"></circle>
        <circle cx="368" cy="370" r="2" stroke="black" fill="white"></circle>
        <circle cx="275" cy="473" r="2" stroke="black" fill="white"></circle>
        <circle cx="179" cy="563" r="2" stroke="black" fill="white"></circle>
        <circle cx="368" cy="563" r="2" stroke="black" fill="white"></circle>
    </svg>
</body>

</html>