<!DOCTYPE html>
<html>

<head>
    <title>Accounts</title>
    <link rel="stylesheet" type="text/css" href="../css/accounts.css">
</head>

<body style="background-color:#F0F0F0">
    <div class="main-container">
        <div>
            <div class="header">
                <div style="width:90%">
                    <img src="../images/burgermenuicon.png" alt="" width="20" height="20">
                </div>
                <div style="width:3%;text-align: end;">
                    <img src="../images/67.png" alt="" class="profile-image">
                </div>
                <div style="width:5%;text-align: center">
                    <span>John Doe</span>
                </div>
                <div style="width:2%">
                    <img src="../images/24.png" alt="" width="10" height="10">
                </div>
            </div>
        </div>
        <div>
            <div class="bodycontent">
                <div class="account-content">
                    <div class="Accounts">
                        <p style="padding-bottom:1%;">ACCOUNTS</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua.</p>
                    </div>

                </div>
                <div style="padding-top:0.2%;background-color: #F0F0F0;">

                </div>
                <div>
                    <div class="rent-invoice flex-row">
                        <div style="width:100%;">
                            <div class="left-content">
                                <div style="width:100%;padding: 4%;">
                                    <div>
                                        <p style="padding-bottom:1%;">RENT INVOICE</p>
                                        <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod
                                            tempor
                                            incididunt ut
                                            labore et
                                            dolore magna aliqua.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="receipts-container">
                                        <div style="background-color: #f0f0f0;padding: 4%;border-bottom: 1px solid #cccccc;box-shadow: inset 0 20px 12px -20px #909090;">
                                            <p style="padding-bottom:1%;">RECEIPTS</p>
                                            <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et
                                                dolore magna aliqua.</p>
                                        </div>
                                        <div style="background-color: #f0f0f0;padding: 4%;border-bottom: 1px solid #cccccc">
                                            <p style="padding-bottom:1%;">LEDGER</p>
                                            <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et
                                                dolore magna aliqua.</p>
                                        </div>
                                        <div style="background-color: #f0f0f0;padding: 4%;">
                                            <p style="padding-bottom:1%;">BILLS</p>
                                            <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et
                                                dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%;">
                            <div class="rent-invoice right-content">

                                <div style="padding-top:2%;padding-bottom: 4%;">
                                    <div>
                                        <span>RENT INVOICE</span>
                                    </div>
                                </div>
                                <div class="rent-invoice-container line-space">
                                    <div>
                                        <p style="margin-bottom: 8%">5 July 2019</p>
                                        <p>RI00056780</p>
                                    </div>
                                    <div>
                                        <span>Rs. 10,988</span>
                                    </div>
                                    <div>
                                        <img src="../images/89.png" alt="" width="40" height="40">
                                    </div>
                                </div>

                                <div class="rent-invoice-container line-space">
                                    <div>
                                        <p style="margin-bottom: 8%">2 July 2019</p>
                                        <p>RI00056770</p>
                                    </div>
                                    <div>
                                        <span>Rs. 10,112</span>
                                    </div>
                                    <div>
                                        <img src="../images/89.png" alt="" width="40" height="40">
                                    </div>
                                </div>

                                <div class="rent-invoice-container line-space">
                                    <div>
                                        <p style="margin-bottom: 8%">4 May 2019</p>
                                        <p>RI00056778</p>
                                    </div>
                                    <div>
                                        <span>Rs. 08,988</span>
                                    </div>
                                    <div>
                                        <img src="../images/89.png" alt="" width="40" height="40">
                                    </div>
                                </div>

                                <div class="rent-invoice-container line-space">
                                    <div>
                                        <p style="margin-bottom: 8%">10 April 2019</p>
                                        <p>RI00056777</p>
                                    </div>
                                    <div>
                                        <span>Rs. 07,988</span>
                                    </div>
                                    <div>
                                        <img src="../images/89.png" alt="" width="40" height="40">
                                    </div>
                                </div>

                                <div class="rent-invoice-container">
                                    <div>
                                        <p style="margin-bottom: 8%">15 Mar 2019</p>
                                        <p>RI00056776</p>
                                    </div>
                                    <div>
                                        <span>Rs. 10,908</span>
                                    </div>
                                    <div>
                                        <img src="../images/89.png" alt="" width="40" height="40">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>