<!DOCTYPE html>
<html>

<head>
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="../css/booking.css">
</head>

<body>
    <div>
        <div class="main-container">
            <div>
                <div class="header-container">
                    <div style="width:85%">
                        <img src="../images/burgermenuicon.png" alt="" width="20" height="20">
                    </div>
                    <div style="width:7%;text-align: end;">
                        <img src="../images/67.png" alt="" class="profile-image">
                    </div>
                    <div style="width:7%;text-align: center">
                        <span>John Doe</span>
                    </div>
                    <div style="width:1%">
                        <img src="../images/24.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>
            <div>
                <div class="bodycontent">
                    <div style="padding:2% 0% 2% 2%;">
                        <div class="flex-center-row">
                            <div style="width:70%;">
                                <span>BOOKING</span>
                                <p style="margin-top:1%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris
                                    nisi ut
                                    aliquip
                                    ex ea commodo consequat.</p>
                            </div>
                            <div style="width:30%;height: 0px;">
                                <div style="margin-left: 15%;transform: rotate(90deg);margin-right: 10%;">
                                    <div class="circle">
                                        <span style="color:#FFFFFF;color:black;">4</span>
                                    </div>

                                    <div class="dotted-line"></div>
                                    <div class="circle">
                                        <span class="text" style="color:black;">3</span>
                                    </div>

                                    <div class="dotted-line"></div>
                                    <div class="circle" style="background-color:#32BDD2;">
                                        <span class="text" style="color:#FFFFFF;">2</span>
                                    </div>

                                    <div class="dotted-line"></div>
                                    <div class="circle">
                                        <span class="text" style="color:black;">1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="background-color:#EEEEEE;padding-top: 0.2%;">

                    </div>

                    <div>
                        <div class="bottom-container">
                            <div style="width:90%;margin:auto;">

                                <div style="margin-bottom:2%;margin-top:2%;">
                                    <span>PACKAGES</span>
                                    <p style="margin-top:1%;">You may change some of the package attributes like
                                        additional charges (if applicable) after creating the booking.</p>
                                </div>

                                <div class="2">
                                    <div>
                                        <div class="2a" style="background-color:#F0F0F0;border:1px solid #CCCCCC;margin-bottom: 2%">
                                            <div>
                                                <div class="flex-center-row" style="padding:2%;">
                                                    <div style="width:50%">
                                                        <p style="margin-bottom: 1%">ALLURE COMFY</p>
                                                        <p>Designed from groud-up for providing the best of comfort and
                                                            privacy.
                                                        </p>
                                                        <p style="margin-bottom: 1%">The best way to
                                                            retire a
                                                            day and
                                                            re-energize</p>
                                                        <p>Rs 3,000 PER DAY</p>
                                                    </div>
                                                    <div class="flex-center-row" style="border-radius: 25px;width: 50%;justify-content: flex-end;">
                                                        <div class="flex-center-row select-container">
                                                            <div>
                                                                <span>SELECTED</span>
                                                            </div>
                                                            <div style="margin-left:5%;">
                                                                <img src="../images/90.png" alt="" width="20" height="20">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="flex-center-row more-details-container">
                                                    <div style="margin-right:0.5%;">
                                                        <span>More Details</span>
                                                    </div>
                                                    <div style="margin-right:2%;">
                                                        <img src="../images/24.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="2b" style="background-color:#F0F0F0;border:1px solid #CCCCCC;margin-bottom: 2%">
                                            <div>
                                                <div class="flex-center-row" style="padding:2%;">
                                                    <div style="width:50%">
                                                        <p>ALLURE COMFY-L</p>
                                                        <p style="margin-top:1%">Occupancy type-Single</p>
                                                        <p style="margin-bottom: 1%">Private area with bath area
                                                            attached to living area</p>
                                                        <p>Rs 18,000 PER MONTH</p>
                                                    </div>
                                                    <div class="flex-center-row" style="border-radius: 25px;width: 50%;justify-content: flex-end;">
                                                        <div class="flex-center-row select-container">
                                                            <div>
                                                                <span>SELECT</span>
                                                            </div>
                                                            <div style="margin-left:5%;">
                                                                <img src="../images/87.png" alt="" width="20" height="20"
                                                                    style="border:2px solid #32BDD2;border-radius:50%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="flex-center-row more-details-container">
                                                    <div style="margin-right:0.5%;">
                                                        <span>More Details</span>
                                                    </div>
                                                    <div>
                                                        <img src="../images/24.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="2c" style="background-color:#F0F0F0;border:1px solid #CCCCCC;margin-bottom: 2%">
                                            <div>
                                                <div class="flex-center-row" style="padding:2%;">
                                                    <div style="width:50%">
                                                        <p>ALLURE COMFY-L</p>
                                                        <p style="margin-top:1%">Occupancy type-Single</p>
                                                        <p style="margin-bottom: 1%">Private area with bath area
                                                            attached to living area</p>
                                                        <p>Rs 18,000 PER MONTH</p>
                                                    </div>
                                                    <div class="flex-center-row" style="border-radius: 25px;width: 50%;justify-content: flex-end;">
                                                        <div class="flex-center-row select-container">
                                                            <div>
                                                                <span>SELECT</span>
                                                            </div>
                                                            <div style="margin-left:5%;">
                                                                <img src="../images/87.png" alt="" width="20" height="20"
                                                                    style="border:2px solid #32BDD2;border-radius:50%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="flex-center-row more-details-container">
                                                    <div style="margin-right:0.5%;">
                                                        <span>More Details</span>
                                                    </div>
                                                    <div>
                                                        <img src="../images/24.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="2b" style="background-color:#F0F0F0;border:1px solid #CCCCCC;margin-bottom: 2%">
                                            <div>
                                                <div class="flex-center-row" style="padding:2%;">
                                                    <div style="width:50%">
                                                        <p>ALLURE COMFY-L</p>
                                                        <p style="margin-top:1%">Occupancy type-Single</p>
                                                        <p style="margin-bottom: 1%">Private area with bath area
                                                            attached to living area</p>
                                                        <p>Rs 18,000 PER MONTH</p>
                                                    </div>
                                                    <div class="flex-center-row" style="border-radius: 25px;width: 50%;justify-content: flex-end;">
                                                        <div class="flex-center-row select-container">
                                                            <div>
                                                                <span>SELECT</span>
                                                            </div>
                                                            <div style="margin-left:5%;">
                                                                <img src="../images/87.png" alt="" width="20" height="20"
                                                                    style="border:2px solid #32BDD2;border-radius:50%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div>
                                                <div class="flex-center-row more-details-container">
                                                    <div style="margin-right:0.5%;">
                                                        <span>More Details</span>
                                                    </div>
                                                    <div>
                                                        <img src="../images/24.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="flex-center-row" style="justify-content:center;">
                                    <div style="margin-right:0.5%;">
                                        <span>SHOW MORE</span>
                                    </div>
                                    <div>
                                        <img src="../images/24.png" alt="" width="20" height="20">
                                    </div>
                                </div>

                            </div>
                            <div>
                                <div class="flex-center-row" style="justify-content:space-between;padding: 2%;">
                                    <div>
                                        <span style="border-bottom:2px solid #747474;">BACK</span>
                                    </div>
                                    <div style="width:8%;">
                                        <div class="flex-center-row" style="background-color:#32BDD2;padding: 5%;
                                        border-radius: 29px;
                                        justify-content: center;">
                                            <div style="margin-right:2%;">
                                                <span style="color:#FFFFFF;">NEXT</span>
                                            </div>
                                            <div>
                                                <img src="../images/165.png" alt="" width="15" height="15">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>