<!DOCTYPE html>
<html>

<head>
    <title>Charges-form</title>
    <link rel="stylesheet" type="text/css" href="../css/chargesform.css">
</head>

<body>
    <div>
        <div class="main-container">
            <div>
                <div class="header-container">
                    <div style="width:84%;">
                        <span style="font-size:1.5vw;">POSH</span>
                    </div>
                    <div style="width:5%;text-align: end">
                        <img src="../images/182.png" alt="" width="50" height="50">
                    </div>
                    <div style="width:5%;text-align: center;">
                        <img src="../images/profile.png" alt="" class="profile-image">
                    </div>
                    <div style="width:5%">
                        <span>Lucy Carter</span>
                    </div>
                    <div style="width:1%;">
                        <img src="../images/24.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>
            <div>
                <div class="body-container">
                    <div>
                        <div class="left-container">
                            <div style="transform:rotate(270deg);margin-top: 70%;">
                                <span>COMPLAINT</span>
                            </div>
                            <div style="margin-left: 30%;
                                                        margin-top: 70%;">
                                <div class="circle">
                                    <span style="color:black;">1</span>
                                </div>

                                <div class="dotted-line"></div>
                                <div class="circle">
                                    <span class="text" style="color:black;">2</span>
                                </div>

                                <div class="dotted-line"></div>
                                <div class="circle" style="background-color:#32BDD2;">
                                    <span class="text" style="color:#FFFFFF;">3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="right-container">
                            <div style="margin-bottom: 5%;">
                                <span>CHARGES</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Mauris
                                    mattis, tortor sit amet tempor vehicula.</p>
                            </div>
                            <div style="margin-bottom: 2%;">
                                <div class="add-charge-container">
                                    <div>
                                        <img src="../images/4.png" alt="" width="30" height="30">

                                    </div>
                                    <div style="margin-left:1%;">
                                        <span>ADD CHARGE</span>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center;margin-bottom: 4%;">
                                <span style="border-bottom: 1px solid #747474;
                                padding-bottom: 0.5%;">What
                                    is a charge?</span>
                            </div>
                            <div>
                                <div class="charges-list">
                                    <div>
                                        <div class="charge-2-container">
                                            <div style="width:2%;">
                                                <img src="../images/24.png" alt="" width="10" height="10">
                                            </div>
                                            <div style="width:25%;">
                                                <span class="charge-title">CHARGE
                                                    02</span>
                                                <span class="charge-title">(26th May
                                                    2018)</span>
                                            </div>
                                            <div style="width:73%;text-align:end;">
                                                <img src="../images/2.png" alt="" width="30" height="30">
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="browse-add-container">
                                            <div>
                                                <div class="edit-container">
                                                    <div style="position: absolute;bottom: 80%;left: 98%;">
                                                        <img src="../images/91.png" alt="" width="30" height="30">
                                                    </div>

                                                    <div>
                                                        <p class="edit-charge-desc">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Mauris
                                                            mattis,
                                                            tortor
                                                            sit
                                                            amet tempor vehicula, tortor ipsum faucibus nunc, id
                                                            aliquam
                                                            lacus odio
                                                            nec
                                                            magna.
                                                            Cras a ipsum placerat, efficitur nibh sed, iaculis elit.
                                                            Mauris
                                                            semper
                                                            tempor
                                                            facilisis. Nunc at consequat tortor, vel facilisis tortor.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="margin-bottom:5%;">
                                                    <div style="background-color:#F3F5B3;width: 12%;padding: 1%;border-radius: 15px 0px 0px 0px;">
                                                        <span>EVIDENCE</span>
                                                    </div>
                                                    <div>
                                                        <div style="border: 1px solid#F3F5B3;">
                                                            <div>
                                                                <div class="evidence-container">
                                                                    <div style="margin-bottom:5%;">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur
                                                                            adipiscing elit.
                                                                            Mauris
                                                                            mattis,
                                                                            tortor sit amet tempor vehicula, tortor
                                                                            ipsum
                                                                            faucibus
                                                                            nunc, id
                                                                            aliquam
                                                                            lacus odio nec magna.</p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="browse-drop-a-file-container">
                                                                            <div class="select-file-container">
                                                                                <div style="margin-bottom:3%;">
                                                                                    <p>Select a file from my computer.</p>
                                                                                    <p>Maximum allowed size is 5MB per
                                                                                        file. Only
                                                                                        documents
                                                                                        like
                                                                                        pdf, docx,
                                                                                        ppt,
                                                                                        xls etc
                                                                                        are allowed.</p>
                                                                                </div>
                                                                                <div>
                                                                                    <button style="border:0px;background-color: #32bdd2;color: #FFFFFF;border-radius: 5px;padding: 2%;">BROWSE</button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="drop-file-container">
                                                                                <div class="drop-file">
                                                                                    <div>
                                                                                        <img src="../images/159.png"
                                                                                            alt="" width="30" height="30">
                                                                                    </div>
                                                                                    <div>
                                                                                        <span style="color:#FFFFFF;">Drop
                                                                                            a
                                                                                            file here</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="evidence-file-container">
                                                                    <div>
                                                                        <div class="file">
                                                                            <div>
                                                                                <span>image0037429023.png</span>
                                                                            </div>
                                                                            <div>
                                                                                <span>976 KB</span>
                                                                            </div>
                                                                            <div class="delete-button">
                                                                                <img src="../images/107.png" alt=""
                                                                                    width="20" height="20">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="file1">
                                                                            <div>
                                                                                <span>video0.flv</span>
                                                                            </div>
                                                                            <div>
                                                                                <span>4.6 KB</span>
                                                                            </div>
                                                                            <div class="delete-button">
                                                                                <img src="../images/107.png" alt=""
                                                                                    width="20" height="20">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="2bc">
                                                    <div style="background-color:#F3F5B3;width: 12%;padding: 1%;border-radius: 15px 0px 0px 0px;">
                                                        <span>WITNESS</span>
                                                    </div>
                                                    <div>
                                                        <div class="witness-container">
                                                            <div>
                                                                <div class="witness-add-container">
                                                                    <div style="margin-bottom:5%;">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur
                                                                            adipiscing elit.
                                                                            Mauris
                                                                            mattis,
                                                                            tortor sit amet tempor vehicula, tortor
                                                                            ipsum
                                                                            faucibus
                                                                            nunc, id
                                                                            aliquam
                                                                            lacus odio nec magna.</p>
                                                                    </div>
                                                                    <div>
                                                                        <div class="add">
                                                                            <div>
                                                                                <img src="../images/4.png" alt="" width="20"
                                                                                    height="20">
                                                                            </div>
                                                                            <div style="margin-left:1%;">
                                                                                <span>ADD</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="user-edit-delete-container">
                                                                    <div style="border-bottom: 1px solid#F3F5B3;">
                                                                        <div class="edit-delete-container">
                                                                            <div style="width:20%;">
                                                                                <span>Satish Kumar Chauhan</span>
                                                                                <span>satish.kumar@airtel.in</span>
                                                                                <span>+91 98456 45823</span>
                                                                            </div>
                                                                            <div class="flex-row" style="justify-content:flex-end;width: 50%;">
                                                                                <div class="width-ten edit-button">
                                                                                    <img src="../images/161.png" alt=""
                                                                                        width="20" height="20">
                                                                                </div>
                                                                                <div class="width-ten edit-delete-button">
                                                                                    <img src="../images/107.png" alt=""
                                                                                        width="20" height="20">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="edit-delete-container">
                                                                            <div style="width:20%;">
                                                                                <span>Satish Kumar Chauhan</span>
                                                                                <span>satish.kumar@airtel.in</span>
                                                                                <span>+91 98456 45823</span>
                                                                            </div>
                                                                            <div class="flex-row" style="justify-content:flex-end;width: 50%;">
                                                                                <div class="width-ten edit-button">
                                                                                    <img src="../images/161.png" alt=""
                                                                                        width="20" height="20">
                                                                                </div>
                                                                                <div class="width-ten edit-delete-button">
                                                                                    <img src="../images/107.png" alt=""
                                                                                        width="20" height="20">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="charge-2-container">
                                    <div style="width:2%;">
                                        <img src="../images/24.png" alt="" width="10" height="10">
                                    </div>
                                    <div style="width:58%">
                                        <span class="charge-title">CHARGE
                                            02</span>
                                        <span class="charge-title">(26th May
                                            2018)</span>
                                    </div>
                                    <div style="width: 35%;">
                                        <div class="flex-row error-container">
                                            <div>
                                                <img src="../images/15.png" alt="" width="20" height="20">
                                            </div>
                                            <div style="margin-left:5%;">
                                                <p>This charge is older than 90 days</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:5%;text-align: end;">
                                        <img src="../images/18.png" alt="" width="30" height="30">
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:5%;">
                                <div class="flex-row" style="align-items:center;">
                                    <div style="width:80%">
                                        <span style="border-bottom:1px solid #B5B5B5;">SAVE DRAFT</span>
                                    </div>
                                    <div style="width:10%;text-align: center;">
                                        <span style="border-bottom:1px solid #32BDD2;color: #32BDD2;">BACK</span>
                                    </div>
                                    <div style="width:10%">
                                        <div class="next-button">
                                            <div>
                                                <span style="color:#FFFFFF;">NEXT</span>
                                            </div>
                                            <div>
                                                <img src="../images/165.png" alt="" width="10" height="10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>