<!DOCTYPE html>
<html>

<head>
    <title>Preview-form</title>
    <link rel="stylesheet" type="text/css" href="../css/complaintpreview.css">
</head>

<body style="background-color:#EEEEEE;">
    <div>
        <div class="main-container">
            <div>
                <div class="header-container">
                    <div style="width:84%;">
                        <span style="font-size:1.5vw;">POSH</span>
                    </div>
                    <div style="width:5%;text-align: end">
                        <img src="../images/182.png" alt="" width="50" height="50">
                    </div>
                    <div style="width:5%;text-align: center;">
                        <img src="../images/profile.png" alt="" class="profile-image">
                    </div>
                    <div style="width:5%">
                        <span>Lucy Carter</span>
                    </div>
                    <div style="width:1%;">
                        <img src="../images/24.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>
            <div>
                <div class="body-container">
                    <div style="width:5%;">
                        <div class="left-container">
                            <div style="transform:rotate(270deg);margin-top: 70%;">
                                <span>COMPLAINT</span>
                            </div>
                            <div style="margin-left: 30%;
                            margin-top: 70%;">
                                <div class="circle">
                                    <span style="color:black;">1</span>
                                </div>

                                <div class="dotted-line"></div>
                                <div class="circle">
                                    <span class="text" style="color:black;">2</span>
                                </div>

                                <div class="dotted-line"></div>
                                <div class="circle" style="background-color:#32BDD2;">
                                    <span class="text" style="color:#FFFFFF;">3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:95%;">
                        <div class="right-container">
                            <div style="margin-bottom:5%;">
                                <span>PREVIEW</span>
                                <p style="margin-top:0.5%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Mauris mattis, tortor
                                    sit amet
                                    tempor
                                    vehicula.</p>
                            </div>
                            <div style="margin-bottom:2%">
                                <span>COMPLAINANT</span>
                                <p class="people-name">Preeti Agrawal</p>
                                <p class="address">#804, B Block, Sushant Lok, Phase-1, Gurgaon, Haryana, India
                                    - 122002 </p>
                                <p>+91 8884535672</p>
                            </div>
                            <div style="margin-bottom:3%">
                                <span>RESPONDENT</span>
                                <p class="people-name">Nishant Kumar Verma</p>
                                <p class="address">#1093, 16th C Main, Jadera Halli, Race Course Road,
                                    Bangalore, Karnataka, India - 560078 </p>
                            </div>
                            <div>
                                <span>CHARGES</span>
                                <p style="margin-top:1%;margin-bottom:0.5%;">01/</p>
                                <span>(26th May 2018)</span>
                            </div>
                            <div style="margin-top:1.5%;margin-bottom:2%;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                                    mattis, tortor sit amet
                                    tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna. Cras
                                    a
                                    ipsum placerat, efficitur nibh sed, iaculis elit. Mauris semper tempor facilisis.
                                    Nunc
                                    at consequat tortor, vel facilisis tortor. Morbi blandit, libero id pellentesque
                                    faucibus, eros leo consequat erat, a gravida elit enim vitae tellus. Sed mattis
                                    nulla ut
                                    nulla hendrerit porta in quis orci.</p>
                            </div>
                            <div>
                                <div class="evidence-witness-container">
                                    <div>
                                        <div style="margin-bottom:6%;">
                                            <div class="evidence-witness-content">
                                                <span>EVIDENCE</span>
                                            </div>
                                            <div>
                                                <div class="file-content">
                                                    <div style="border-bottom:1px solid #CCCCCC;">
                                                        <div class="file-name-content">
                                                            <div>
                                                                <span class="file-name">image0037429023.png</span>

                                                            </div>
                                                            <div>
                                                                <span>976 KB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="file-name-content">
                                                            <div>
                                                                <span class="file-name">image0037429023.png</span>
                                                            </div>
                                                            <div>
                                                                <span class="file-size">976 KB</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="1b">
                                            <div class="evidence-witness-content">
                                                <span>WITNESS</span>
                                            </div>
                                            <div>
                                                <div class="1bb" style="border:1px solid #CCCCCC;">
                                                    <div style="border-bottom:1px solid #CCCCCC;padding: 2%;">
                                                        <p style="width:15%;">Satish Kumar Chauhan
                                                            satish.kumar@airtel.in
                                                            +91 98456 45823</p>

                                                    </div>
                                                    <div style="padding: 2%;">
                                                        <p style="width:15%;">Anita Seth anitha.seth@airtel. +91 84379
                                                            58314</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="charges-num">02/</span>
                                <p class="charges-date" style="margin-bottom:1%;margin-top: 0.5%;">(26th May 2018)</p>
                            </div>
                            <div>
                                <div class="error-container">
                                    <div>
                                        <img src="../images/15.png" alt="" width="20" height="20">
                                    </div>
                                    <div style="margin-left:5%;">
                                        <p>This charge is older than 90 days</p>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:1%;margin-bottom:5%;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                                    mattis, tortor sit amet
                                    tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna. Cras
                                    a
                                    ipsum placerat, efficitur nibh sed, iaculis elit. Mauris semper tempor facilisis.
                                    Nunc
                                    at consequat tortor, vel facilisis tortor. Morbi blandit, libero id pellentesque
                                    faucibus, eros leo consequat erat, a gravida elit enim vitae tellus. Sed mattis
                                    nulla ut
                                    nulla hendrerit porta in quis orci.</p>
                            </div>
                            <div>
                                <div class="submit-button-container">
                                    <div style="width:80%;">
                                        <span style="color:#747474;border-bottom:2px solid #b5b5b5;">SAVE DRAFT</span>
                                    </div>
                                    <div style="width:10%;text-align: center;">
                                        <span style="color:#32BDD2;border-bottom:2px solid #32BDD2;">BACK</span>
                                    </div>
                                    <div style="width:10%">
                                        <button class="submit-button">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>