<!DOCTYPE html>
<html>

<head>
    <title>Unread-Message</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div style="width:8%;">
        <div>
            <div style="text-align: center;margin-bottom: 45%;margin-top: 50%;">
                <img src="../images/136.png" alt="" width="50" height="50">
            </div>
            <div style="border-bottom: 1px dashed #747474;
            transform: rotate(90deg);"></div>
            <div style="text-align: center;margin-bottom: 45%;margin-top: 50%;">
                <img src="../images/135.png" alt="" width="50" height="50">
            </div>
            <div style="border-bottom: 1px dashed #747474;
            transform: rotate(90deg);"></div>
            <div style="text-align: center;margin-bottom: 45%;margin-top: 50%;">
                <img src="../images/140.png" alt="" width="50" height="50">
            </div>
            <div style="border-bottom: 1px dashed #747474;
            transform: rotate(90deg);"></div>
            <div style="text-align: center;margin-bottom: 45%;margin-top: 50%;">
                <img src="../images/132.png" alt="" width="50" height="50">
            </div>
        </div>
    </div>
</body>

</html>