<!DOCTYPE html>
<html>

<head>
    <title>Rewards</title>
    <link rel="stylesheet" type="text/css" href="../css/rewards.css">
</head>

<body>
    <div>
        <div class="main-container">
            <div>
                <div class="header-container">
                    <div style="width:90%">
                        <img src="../images/burgermenuicon.png" alt="" width="20" height="20">
                    </div>
                    <div style="width:3%;text-align: end;">
                        <img src="../images/67.png" alt="" class="profile-image">
                    </div>
                    <div style="width:5%;text-align: center">
                        <span>John Doe</span>
                    </div>
                    <div style="width:2%">
                        <img src="../images/24.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>
            <div>
                <div class="bodycontent">
                    <div>
                        <div class="rewards-content">
                            <div>
                                <span>REWARDS</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua.</p>
                            </div>
                            <div>
                                <div class="1b">
                                    <div>
                                        <img src="../images/100.png" alt="" width="30" height="30">
                                    </div>
                                    <div>
                                        <p>Dashboard</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top:0.3%;background-color: #EEEEEE;">

                    </div>
                    <div>
                        <div class="rewards-body-container">
                            <div class="left-content-container">
                                <div class="left-container">
                                    <div>
                                        <div class="lc-1">
                                            <div>
                                                <div class="lc-1a">
                                                    <div>
                                                        <img src="../images/63.png" alt="" width="30" height="30">
                                                    </div>
                                                    <div style="margin-left:1%;">
                                                        <span>Showing all vouchers</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="vouchers" style="border-bottom:1px solid #CCCCCC;">
                                                    <div style="border:2px solid red;width:5%;margin-bottom: 1%">

                                                    </div>
                                                    <div>
                                                        <span>RENT VOUCHERS</span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                            do eiusmod tempor
                                                            incididunt ut
                                                            labore et
                                                            dolore magna aliqua.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="vouchers">

                                                    <span>GFK VOUCHERS</span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor
                                                        incididunt ut
                                                        labore et
                                                        dolore magna aliqua.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="zomato-vouchers">
                                            <div style="border:2px solid red;width:5%;margin-bottom: 1%">

                                            </div>
                                            <div>
                                                <span>ZOMATO VOUCHERS</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                    do eiusmod tempor
                                                    incididunt ut
                                                    labore et
                                                    dolore magna aliqua.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="lc-3">
                                            <div class="events-vouchers" style="border-bottom:1px solid #CCCCCC;">
                                                <span>LAUNDRY VOUCHERS</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                    do eiusmod tempor
                                                    incididunt ut
                                                    labore et
                                                    dolore magna aliqua.</p>
                                            </div>
                                            <div class="events-vouchers" style="border-bottom:1px solid #CCCCCC;">
                                                <div style="border:2px solid red;width:5%;margin-bottom: 1%">
                                                </div>
                                                <div>
                                                    <span>STARBUCKS VOUCHERS</span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                        do eiusmod tempor
                                                        incididunt ut
                                                        labore et
                                                        dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                            <div class="events-vouchers">
                                                <span>EVENT VOUCHERS</span>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                                    do eiusmod tempor
                                                    incididunt ut
                                                    labore et
                                                    dolore magna aliqua.</p>
                                            </div>
                                            <div class="show-more-container">
                                                <div>
                                                    <span>SHOW MORE</span>
                                                </div>
                                                <div>
                                                    <img src="../images/24.png" alt="" width="30" height="30">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-content-container">
                                <div class="right-container">
                                    <div>
                                        <div class="rc-1">
                                            <div>
                                                <span>ZOMATO VOUCHERS</span>
                                            </div>
                                            <div style="display: flex;flex-direction: row;justify-content: flex-end;margin-top: 5%;
                                            margin-bottom: 2%;">
                                                <div class="rc-1b">
                                                    <div style="width:50%;text-align: center;
                                                    padding: 5%;">
                                                        <span>Year</span>
                                                    </div>
                                                    <div style="width:50%;text-align: center;
                                                   background-color: #32BDD2;">
                                                        <div class="year-dropdown">
                                                            <div style="width:50%">
                                                                <span style="color:#FFFFFF;">2019</span>
                                                            </div>
                                                            <div style="width:50%">
                                                                <img src="../images/104.png" alt="" width="10" height="10">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="rc-1c">
                                                    <div>
                                                        <div class="month-list">
                                                            <div>
                                                                <img src="../images/scroll-left.png" alt="" width="10"
                                                                    height="10">
                                                            </div>
                                                            <div>
                                                                <span>May</span>
                                                            </div>
                                                            <div>
                                                                <span>Jun</span>
                                                            </div>
                                                            <div>
                                                                <span>Jul</span>
                                                            </div>
                                                            <div>
                                                                <span>Aug</span>
                                                            </div>
                                                            <div>
                                                                <span>Sep</span>
                                                            </div>
                                                            <div>
                                                                <span style="border-bottom:5px solid #32BDD2;">Oct</span>
                                                            </div>
                                                            <div>
                                                                <span>Nov</span>
                                                            </div>
                                                            <div>
                                                                <span>Dec</span>
                                                            </div>
                                                            <div>
                                                                <img src="../images/109.png" alt="" width="10" height="10">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="border-bottom:1px solid #747474;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="rc-2">
                                            <div class="zomato-voucher">
                                                <img src="../images/guesture-rewards-18.png" alt="" width="600" height="200">
                                            </div>
                                            <div>
                                                <div class="rc-2b">
                                                    <div>
                                                        <span>VOUCHER NO</span>
                                                        <p>RV-DWLS-84566</p>
                                                    </div>
                                                    <div>
                                                        <span>STATUS</span>
                                                        <p>UNKNOWN</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="redeem-container">
                                                <p>How to Redeem?</p>
                                                <p style="margin-top:2%;margin-bottom:10%">Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit, sed
                                                    do eiusmod tempor
                                                    incididunt ut
                                                    labore et
                                                    dolore magna aliqua.</p>
                                                <p>Terms and Conditions</p>

                                                <p style="margin-top:2%;margin-bottom:5%">This voucher is valid only in
                                                    the month specified on the voucher and
                                                    can be
                                                    redeemed only for
                                                    paying
                                                    rent</p>

                                                <p>This voucher is non-refundable and cannot exchanged for cash in part
                                                    or full and
                                                    is valid for a
                                                    single
                                                    tranaction only</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>