*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}
.header-container{
    width:100%;box-shadow: 0px 0px 4px rgba(0,0,0,0.29);background-color: #FFFFFF;padding: 0.5%;
}
.body-container{
    margin: 2%;
}
.main-container{
    background-color: #F6F8F9;
}
.detail-container{
    width: 100%;
}
.public-button{
    border:0.5px solid #245070;background-color: #245070;border-radius: 7px;padding: 8%;color: #FFFFFF;width:60%;
}
.private-button{
    border:0.5px solid #245070;background-color: #FFFFFF;border-radius: 7px;padding: 1%;color: #245070;width: 7%;
}
.information-container{
    margin-left:2.5%;border-left: 6px solid #F7F7F7;padding-bottom: 3%;
}
.details-container{
    background-color: #F7F7F7;padding: 1%;width: 100%;
}
.submit-details{
    border:1px solid #EDEAEA;width: 70%;
}
.submit-button{
    border:0px;border-radius: 25px;background-color: #32BDD2;color: #FFFFFF;padding: 0.5%;width: 6%;
}
.left-container{
    width: 60%;
    box-shadow: 0 3px 6px rgba(0.0,0.0,0.0,0.29);
    border-radius: 15px 0px 0px 15px;
    background-color: #FFFFFF;
}