*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}
body{
    margin: 0px;
    padding: 0px;
}
p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
td{
    padding: 0px;
}