*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}
body{
    margin: 0px;
    padding: 0px;
}
p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
td{
    padding-top: 0px;
    padding-bottom: 0px;
}
.header{
    width: 100%;padding: 0.5%;box-shadow: 0px 0px 4px rgba(0,0,0,0.29);background-color: #FFFFFF;
}
.profile-image{
    width:50px;height: 50px;border-radius: 50%;
}
.body-content{
    margin: 2%;width: 96%;box-shadow:0px 0px 4px rgba(0,0,0,0.29);
}
.left-container{
    width:5%;
}
.right-container{
    width: 100%;padding-top: 3%;padding-right: 3%;background-color: #FCFCFC;padding-left: 3%;
}
.browse-button{
    border:0px;background-color: #32bdd2;color: #FFFFFF;border-radius: 5px;padding: 2%;
}
.browse-button-content{
    padding: 5%;
}
.button-content{
    width: 100%;margin-top: 10%;
    margin-bottom: 2%;
}
.navigation-button{
    padding: 8%;border:1px solid #000000;border-radius:50%;font-size: 1vw;
}
.profile-information{
    border:1px solid #D5E2E8;background-color: #F4F8FA;padding: 0.5%;width:60%;margin-bottom: 2%;
}