<!DOCTYPE html>
<html>

<head>
    <title>Table-cell</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        .dotted-line {
            border-left: 3px dotted #D3D3D3;
        }

        .circle {
            width: 2%;
            background-color: #FFFFFF;
            border-radius: 50%;
            border: 1px solid #D3D3D3;
            position: absolute;
            text-align: center;
            padding: 0.5%;
        }
    </style>
</head>

<body>
    <table style="width:100%;">
        <tr>
            <td>
                <table class="main" style="width:5%;background-color:#FFFFFF;">
                    <tr>
                        <td class="circle" style="background-color:#32BDD2;">

                            <span style="color:#FFFFFF;">1</span>

                        </td>
                        <td>
                            <div class="dotted-line">

                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td class="circle" style="background-color:#32BDD2;margin-top: 5%;">

                            <span style="color:#FFFFFF;">1</span>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>