<!DOCTYPE html>
<html>

<head>
    <title>Circle</title>
    <link rel="stylesheet" type="text/css" href="../css/request.css">
    <style>
        *{
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
        </style>
</head>

<body>
    <table style="text-align: center;">
        <tr>
            <td>
                <div style="margin-top:5vh;margin-bottom:5vh;transform:rotate(270deg)">
                    <span>REQUISITION</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-top:65%;margin-bottom: 65%;">
                    <span style="padding:20%;border-radius:50%;border:1px solid #000000;">1</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-top: 1px solid #000000;transform: rotate(90deg)">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-top:65%;margin-bottom: 65%;">
                    <span style="padding:20%;border-radius:50%;border:1px solid #000000;">2</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-top: 1px solid #000000;transform: rotate(90deg)">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-top:65%;margin-bottom: 65%;">
                    <span style="padding:20%;border-radius:50%;border:1px solid #000000;">3</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-top: 1px solid #000000;transform: rotate(90deg)">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-top:65%;margin-bottom: 65%;">
                    <span style="padding:20%;border-radius:50%;border:1px solid #000000;">4</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-top: 1px solid #000000;transform: rotate(90deg)">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-top:65%;margin-bottom: 65%;">
                    <span style="padding:20%;border-radius:50%;border:1px solid #000000;">5</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="border-top: 1px solid #000000;transform: rotate(90deg)">

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin-top:65%;margin-bottom: 65%;">
                    <span style="padding:20%;border-radius:50%;border:1px solid #000000;">6</span>
                </div>
            </td>
        </tr>

    </table>
</body>

</html>