<!DOCTYPE html>

<head>
    <title>Draft-Acknowledgement</title>
    <style>
        *{
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
        </style>
</head>

<body>
    <table>
        <table style="border:1px solid #E0E0E0;padding-left:1%;padding-top:1%;padding-bottom:1%;padding-right:2%;">
            <tr>
                <td>
                    <table style="border-bottom:1px solid #E0E0E0">
                        <tr>
                            <td>
                                <p>EDIT</p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <p>DELETE</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


    </table>

</body>