<!DOCTYPE html>

<head>
    <title>Forgot-password-alert</title>
    <style>
        *{
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
        </style>
</head>

<body style="background-color:#0000004D">
    <table style="border:1px solid #707070;padding: 3% 5% 4% 2%;position: absolute;top:35%;left:35%;background-color: #FFFFFF;">
        <tr>
            <td>
                <span style="color:#595959;font-size:1.2vw;font-family:Roboto Bold;border-bottom: 3px solid #707070;">FORGOT
                    PASSWORD</span>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom:0px;margin-top:5%;">The link has been sent to your email.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom:0px;margin-top:0px;">The generated link will be active for 24 hours.</p>
            </td>
        </tr>
    </table>


</body>