<!DOCTYPE html>
<html>

<head>
    <title>Inbox-public</title>
    <link rel="stylesheet" type="text/css" href="../css/inboxpublic.css">
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>
                <table class="main-container">
                    <tr>
                        <td>
                            <table class="header-container">
                                <tr>
                                    <td style="width:90%;">
                                        <img src="../images/request-icons-02.png" alt="" width="30" height="30">
                                    </td>
                                    <td style="width:4%;">
                                        <img src="../images/1.png" alt="" width="50" height="50">
                                    </td>
                                    <td style="width:4%;">
                                        <span>John Doe</span>
                                    </td>
                                    <td style="width:2%;">
                                        <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="body-container">
                                <tr>
                                    <td style="width:5%;vertical-align: initial;">
                                        <table class="left-container">
                                            <tr>
                                                <td style="text-align:center;background-color:#245070;border-radius: 15px 0px 0px 0px;">
                                                    <img src="../images/request-icons-18.png" alt="" width="20" height="20">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;">
                                                    <img src="../images/request-icons-25.png" alt="" width="20" height="20">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;">
                                                    <img src="../images/request-icons-26.png" alt="" width="20" height="20">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;">
                                                    <img src="../images/request-icons-27.png" alt="" width="20" height="20">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;">
                                                    <img src="../images/request-icons-28.png" alt="" width="20" height="20">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;">
                                                    <img src="../images/request-icons-29.png" alt="" width="20" height="20">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width:95%;background-color: #FFFFFF;box-shadow: 0px 0px 4px rgba(0,0,0,0.29);padding: 2%;">
                                        <table class="right-container">
                                            <tr>
                                                <td>
                                                    <span>INBOX</span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                                                        mattis, tortor sit amet
                                                        tempor
                                                        vehicula.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table style="width:100%;padding-top: 4%;padding-bottom: 4%;">
                                                        <tr>
                                                            <td style="width:10%">
                                                                <button class="public-button">PUBLIC</button>
                                                            </td>
                                                            <td style="width:90%;">
                                                                <button class="private-button">PRIVATE</button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="detail-container">
                                                        <tr>
                                                            <td style="background-color:#F7F7F7;padding: 1%;margin-bottom: 0.5%;">
                                                                <table style="width:100%;">
                                                                    <tr>
                                                                        <td style="width:4%;">
                                                                            <img src="../images/1.png" alt="" width="50"
                                                                                height="50" style="border-radius: 50%;">
                                                                        </td>
                                                                        <td style="width:2%;">
                                                                            <img src="../images/reddot.png" alt=""
                                                                                width="5" height="5">
                                                                        </td>
                                                                        <td style="width:20%">
                                                                            <span>Anurag Basu</span>
                                                                            <p>Lorem ipsum doler sit amet.</p>
                                                                        </td>
                                                                        <td style="width:74%;text-align: end;">
                                                                            <img src="../images/request-icons-05.png"
                                                                                alt="" width="10" height="10">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background-color:#F7F7F7;padding: 1%;">
                                                                <table style="width:100%;">
                                                                    <tr>
                                                                        <td style="width:4%;">
                                                                            <img src="../images/1.png" alt="" width="50"
                                                                                height="50" style="border-radius: 50%;">
                                                                        </td>
                                                                        <td style="width:2%;">
                                                                            <img src="../images/reddot.png" alt=""
                                                                                width="5" height="5">
                                                                        </td>
                                                                        <td style="width:20%">
                                                                            <span>Sameera Rautela</span>
                                                                            <p>Lorem ipsum doler sit amet.</p>
                                                                        </td>
                                                                        <td style="width:74%;text-align: end;">
                                                                            <img src="../images/request-icons-16.png"
                                                                                alt="" width="10" height="10">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="information-container">
                                                        <tr>
                                                            <td>
                                                                <table style="width:100%;
                                                                padding-top: 4%;
                                                                padding-bottom: 1%;">
                                                                    <tr>
                                                                        <td>
                                                                            <span>You</span>
                                                                            <p>Now</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table class="4ab" style="background-color:#F4F8FA;padding-top: 2%;padding-left: 1%;width: 80%;margin-bottom: 4%;">
                                                                                <tr>
                                                                                    <td>
                                                                                        <textarea rows="5" cols="5"
                                                                                            class="submit-details"></textarea>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="padding-top: 2%;padding-bottom: 1%;">
                                                                                        <button class="submit-button">SUBMIT</button>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table style="padding-bottom: 1%;">
                                                                    <tr>
                                                                        <td>
                                                                            <img src="../images/reddot.png" alt=""
                                                                                width="5" height="5">
                                                                        </td>
                                                                        <td>
                                                                            <span>Sameera Rautela</span>
                                                                            <p>28th Jun 2018 11:47 AM</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table class="4c">
                                                                    <tr>
                                                                        <td style="border-left:4px solid #41A6DF;"></td>
                                                                        <td style="padding-left:1%;">
                                                                            <p>Integer porta tellus a lectus volutpat
                                                                                volutpat. Fusce ac
                                                                                fringilla justo,
                                                                                sed iaculis
                                                                                purus. In
                                                                                laoreet non est vel euismod. Ut gravida
                                                                                pretium justo id
                                                                                pretium. Aliquam
                                                                                elementum
                                                                                pellentesque lectus. Nulla odio elit,
                                                                                feugiat non ultrices ut,
                                                                                condimentum
                                                                                ac augue.
                                                                                Vivamus
                                                                                consectetur posuere dui at consectetur.
                                                                                Nam neque lacus, luctus
                                                                                eget
                                                                                dapibus a,
                                                                                pellentesque ut
                                                                                quam. Duis et tristique tellus. Ut sed
                                                                                mauris nec purus
                                                                                convallis venenatis
                                                                                non at sem.
                                                                                Donec a
                                                                                purus porta, suscipit lacus
                                                                                consectetur, varius nisi.</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-top: 5%;
                                                            padding-bottom: 1%;
                                                            padding-left: 1%;">
                                                                <span>You</span>
                                                                <p>27th Jun 2018 03:29 PM</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table class="4e">
                                                                    <tr>
                                                                        <td style="border-left:4px solid #747474;"></td>
                                                                        <td style="padding-left:1%;">
                                                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                                                adipiscing elit. Mauris
                                                                                quis ex
                                                                                semper, faucibus
                                                                                diam a, ultrices nulla. Sed ex augue,
                                                                                feugiat sagittis pulvinar
                                                                                euismod,
                                                                                finibus vel
                                                                                justo.
                                                                                In fermentum auctor nisl nec
                                                                                ullamcorper. Sed odio nisi,
                                                                                pellentesque sed
                                                                                sapien
                                                                                ornare,
                                                                                luctus consequat dolor. Donec lacus
                                                                                massa, eleifend vitae
                                                                                fringilla sit
                                                                                amet, sodales
                                                                                in
                                                                                massa. Fusce varius et quam sit amet
                                                                                condimentum.</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-top: 5%;
                                                            padding-bottom: 1%;
                                                            padding-left: 1%;">
                                                                <span>Sameera Rautela</span>
                                                                <p>26th Jun 2018 10:18 AM</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table class="4g">
                                                                    <tr>
                                                                        <td style="border-left:4px solid #41A6DF;"></td>
                                                                        <td style="padding-left:1%;">
                                                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                                                adipiscing elit. Mauris
                                                                                quis ex
                                                                                semper, faucibus
                                                                                diam a, ultrices nulla. Sed ex augue,
                                                                                feugiat sagittis pulvinar
                                                                                euismod,
                                                                                finibus vel
                                                                                justo.
                                                                                In fermentum auctor nisl nec
                                                                                ullamcorper. Sed odio nisi,
                                                                                pellentesque sed
                                                                                sapien
                                                                                ornare,
                                                                                luctus consequat dolor. Donec lacus
                                                                                massa, eleifend vitae
                                                                                fringilla sit
                                                                                amet, sodales
                                                                                in
                                                                                massa. Fusce varius et quam sit amet
                                                                                condimentum.</p>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table style="width:100%;">
                                                        <tr>
                                                            <td>
                                                                <table class="details-container">
                                                                    <tr>
                                                                        <td style="width:4%;">
                                                                            <img src="../images/1.png" alt="" width="50"
                                                                                height="50" style="border-radius: 50%;">
                                                                        </td>

                                                                        <td style="width:20%;">
                                                                            <span>Urvashi Banerjee</span>
                                                                            <p>Lorem ipsum doler sit amet.</p>
                                                                        </td>
                                                                        <td style="width:76%;text-align: end;">
                                                                            <img src="../images/request-icons-05.png"
                                                                                alt="" width="10" height="10">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table class="details-container">
                                                                    <tr>
                                                                        <td style="width:4%;">
                                                                            <img src="../images/1.png" alt="" width="50"
                                                                                height="50" style="border-radius: 50%;">
                                                                        </td>

                                                                        <td style="width:20%;">
                                                                            <span>Urvashi Banerjee</span>
                                                                            <p>Lorem ipsum doler sit amet.</p>
                                                                        </td>
                                                                        <td style="width:76%;text-align: end;">
                                                                            <img src="../images/request-icons-05.png"
                                                                                alt="" width="10" height="10">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>

</html>