<!DOCTYPE html>
<html>

<head>
    <title>Invite people</title>
    <link rel="stylesheet" type="text/css" href="../css/request.css">
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body style="background-color:#F6F8F9;">
    <table style="width:100%;">
        <tr>
            <td>
                <table style="width:100%;">
                    <tr>
                        <td>
                            <table class="header">
                                <tr>
                                    <td style="width:90%">
                                        <img src="../images/request-icons-02.png" alt="" width="50" height="50">
                                    </td>
                                    <td style="width:4%">
                                        <img src="../images/1.png" alt="" class="profile-image">
                                    </td>
                                    <td style="width:4%">
                                        <span>John Doe</span>
                                    </td>
                                    <td style="width:2%">
                                        <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="body-content">
                        <td style="width:5%;background-color: #FFFFFF;">
                            <table style="text-align: center;">
                                <tr>
                                    <td>
                                        <div style="margin-top:5vh;margin-bottom:5vh;transform:rotate(270deg)">
                                            <span>REQUISITION</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td>
                            <table class="right-container">
                                <tr>
                                    <td>
                                        <table style="background-color:#F0F0F0;padding:2%;border:1px solid #E0E0E0;width:100%;">
                                            <tr>
                                                <td style="width:80%">
                                                    <span style="padding-bottom:0.5%;">INVITE PEOPLE</span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                </td>
                                                <td style="width:10%;text-align: end;padding-right:1%;">
                                                    <span>ADD PEOPLE</span>
                                                </td>
                                                <td style="width:10%">
                                                    <img src="../images/request-icons-10.png" alt="" width="50" height="50">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-right: 1px solid #F0F0F0;
                                    border-bottom: 1px solid #F0F0F0;
                                    border-left: 1px solid #F0F0F0;
                                    padding-bottom: 8%;
                                    background-color: #FFFFFF">
                                        <table style="margin-top:3%;margin-left:2%;width: 100%;">
                                            <tr>
                                                <td>
                                                    <table class="profile-information">
                                                        <tr>
                                                            <td style="text-align:center;width:10%">
                                                                <img src="../images/1.png" alt="" width="40" height="40">
                                                            </td>
                                                            <td>
                                                                <span>Luke Ray</span>
                                                                <p>Lorem ipsum doler sit amet.</p>
                                                            </td>
                                                            <td>
                                                                <img src="../images/request-icons-24.png" alt="" width="20"
                                                                    height="20">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="profile-information">

                                                        <tr>
                                                            <td style="text-align:center;width:10%">
                                                                <img src="../images/1.png" alt="" width="40" height="40">
                                                            </td>
                                                            <td>
                                                                <span>Daisy Lake</span>
                                                                <p>Lorem ipsum doler sit amet.</p>
                                                            </td>
                                                            <td>
                                                                <img src="../images/request-icons-24.png" alt="" width="20"
                                                                    height="20">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="profile-information">
                                                        <tr>
                                                            <td style="text-align:center;width:10%">
                                                                <img src="../images/1.png" alt="" width="40" height="40">
                                                            </td>
                                                            <td>
                                                                <span>Mark Smith</span>
                                                                <p>Lorem ipsum doler sit amet.</p>
                                                            </td>
                                                            <td>
                                                                <img src="../images/request-icons-24.png" alt="" width="20"
                                                                    height="20">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="button-content">
                                            <tr>
                                                <td style="width:85%;">
                                                    <span style="border-bottom:2px solid #B5B5B5;">SAVE DRAFT</span>
                                                </td>
                                                <td style="padding-right:2%;width:5%;">
                                                    <span style="border-bottom:2px solid #32BDD2;color:#32BDD2;">BACK</span>
                                                </td>
                                                <td style="border:0px;background-color: #32bdd2;color: #FFFFFF;border-radius: 25px;text-align: center;padding: 0.5%;width:6%;">
                                                    <span>NEXT<img src="../images/request-icons-12.png" alt="" width="20"
                                                            height="20" style="vertical-align: bottom;"></span>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    </table>

</body>

</html>