<!DOCTYPE html>
<html>

<head>
    <title>Result-found</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <p>Add People</p>
                        </td>
                        <td>
                            <img src="../images/request-icons-13.png" style="width:10%;height:10%">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <input type="text" placeholder="Peter Dinklage">
                                    </td>
                                    <td>
                                        <img src="../images/request-icons-03.png" style="width:10%;height:10%;">
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p>1 result found</p>
                        </td>
                    </tr>
                    <table>
                        <tr>
                            <td>
                                <img src="../images/1.png" style="width:10%;height:10%;">
                            </td>
                            <td>
                                <span>Peter Dinklage</span>
                                <p>Lorem ipsum doler sit amet.</p>
                            </td>
                            <td>
                                <img src="../images/request-icons-10.png" style="width:10%;height:10%;">
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <span>CANCEL</span>
                            </td>
                            <td>
                                <span>You haven't selected any person</span>
                                <button>DONE</button>
                            </td>
                        </tr>
                    </table>
                </table>
            </td>
        </tr>
    </table>


</body>

</html>