<!DOCTYPE html>
<html>

<head>
    <title>circle-and-dotted-line</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <table style="width:40%;">
        <tr></tr>
        <tr>
            <td>
                <div style="border-top:3px dotted #000000;transform: rotate(90deg)">

                </div>
                <span style="border:1px solid #000000;border-radius:50%;padding:1%;position:absolute;left:4.2%;">2</span>

            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr></tr>
    </table>
</body>

</html>