<!DOCTYPE html>
<html>

<head>
    <title>Acknowledgement</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <div class="main-container" style="background-color:#F6F8F9;">
            <div>
                <div style="width:100%;padding: 0.5%;box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);display: grid;grid-template-columns: 90% 4% 4% 2%;align-items: center;background-color: #FFFFFF;">
                    <div>
                        <img src="../images/request-icons-02.png" alt="" width="35" height="auto">
                    </div>
                    <div style="text-align: end;">
                        <img src="../images/1.png" alt="" width="50" height="50" style="border-radius: 50%;">
                    </div>
                    <div style="text-align: end;">
                        <span>John Doe</span>
                    </div>
                    <div style="text-align:center;">
                        <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>
            <div>
                <div class="body-container" style="display: grid;grid-template-columns: 5% 95%;margin: 2%;box-shadow: 0px 0px 6px rgba(0,0,0,0.29)">
                    <div style="background-color: #FFFFFF;">
                        <div class="left-container">
                            <div style="transform:rotate(270deg);margin-top: 60%;">
                                <span>REQUISITION</span>
                            </div>
                            <div>
                                <div class="lc2">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding:2% 2% 10% 2%;background-color: #FCFCFC;">
                        <div class="right-container">
                            <p style="margin-bottom:2%;">ACKNOWLEDGEMENT</p>
                            <p style="margin-bottom:1%;">Your request has been registered.</p>
                            <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                                mattis,
                                tortor sit amet
                                tempor
                                vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna. Cras
                                a ipsum
                                placerat,
                                efficitur nibh sed, iaculis elit. Mauris semper tempor facilisis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>