<!DOCTYPE html>
<html>

<head>
    <title>Add-item-popup</title>
    <style>
        *{
        padding:0%;
        margin: 0%;
        box-sizing: border-box;
    }
    </style>
</head>

<body>
    <div>
        <div class="main-container" style="width:30%;margin:auto;margin-top:10%;box-shadow: 0px 0px 25px rgba(0,0,0,0.80);border-radius: 25px;">
            <div>
                <div class="header" style="padding-bottom:12%;background-color: #FCFCFC;border-radius: 25px 25px 0px 0px;box-shadow: 0px 3px 6px rgba(0,0,0,0.29);">
                    <div style="float:left;margin-top: 4%;margin-left: 4%;">
                        <span style="font-size:1.2vw;">Add Item</span>
                    </div>
                    <div style="float:right;margin-top: 4%;margin-right: 4%;">
                        <img src="../images/request-icons-13.png" alt="" width="30" height="30">
                    </div>
                </div>
            </div>
            <div style="clear:both;">
                <div class="body-container" style="padding:8%;">
                    <div style="margin-bottom:8%;">
                        <div class="1">
                            <div>
                                <p style="margin-bottom:2%">DESCRIPTION</p>
                            </div>
                            <div>
                                <textarea rows="4" cols="5" style="border:1px solid #B5B5B5;border-radius:4px;padding: 3%;width: 80%;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom:10%">
                        <div class="2">
                            <div>
                                <p style="margin-bottom:2%">QTY</p>
                            </div>
                            <div>
                                <input type="text" style="border:1px solid #B5B5B5;width:15vw;padding: 1%;border-radius:4px;">
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom:2%">
                        <p>FULLFILLMENT DUE DATE</p>
                    </div>
                    <div style="margin-bottom:8%;">
                        <div class="4">
                            <div style="float:left;">
                                <input type="text" style="border:1px solid #B5B5B5;width:15vw;padding:1%;border-radius:4px;">
                            </div>
                            <div>
                                <img src="../images/request-icons-17.png" alt="" width="40" height="40">
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom:3%;">
                        <div class="5">
                            <div>
                                <p style="margin-bottom:2%">APPROXIMATE PRICE</p>
                            </div>
                            <div>
                                <input type="text" style="border:1px solid #B5B5B5;width:15vw;padding: 1%;border-radius:4px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="footer-container" style="box-shadow: 0px -3px 6px rgba(0,0,0,0.29);padding: 3%;border-radius: 0px 0px 37px 37px;">
                    <div style="float:left;">
                        <span style="border-bottom:1px solid #B5B5B5">CANCEL</span>
                    </div>
                    <div style="text-align:end;">
                        <button style="border:0px;color: #FFFFFF;background-color:#32BDD2;width:20%;padding: 12px;border-radius: 21px;box-shadow: 1px 1px 5px #5E6469;">DONE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>