<!DOCTYPE html>
<html>

<head>
    <title>svg-circle-dotted-line</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        .dotted-line {
            border-left: 6px dotted #000000;
            height: 100px;
            position: relative;
            left: 17%;
        }

        .circle {
            background-color: #FFFFFF;
            border-radius: 50%;
            border: 1px solid #000000;
            padding: 1%;
            position: absolute;
            z-index: 1;
        }
    </style>
</head>

<body>
    <div style="width:5%;">
        <div>
            <div class="circle"></div>
        </div>

        <div class="dotted-line"></div>
        <div class="circle">
        </div>

        <div class="dotted-line"></div>


    </div>

</body>

</html>