<!DOCTYPE html>
<html>

<head>
    <title>svg-circle-dotted-line</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        .dotted-line {
            border-left: 6px dotted #D3D3D3;
            ;
            height: 100px;
            margin-left: 15%;
        }

        .circle {
            width: 2%;
            background-color: #FFFFFF;
            border-radius: 50%;
            border: 1px solid #D3D3D3;
            padding: 1%;
            position: absolute;
        }
    </style>
</head>

<body>
    <div style="width:5%;">
        <div class="circle">
        </div>

        <div class="dotted-line"></div>
        <div class="circle">
        </div>

        <div class="dotted-line"></div>


    </div>

</body>

</html>