<!DOCTYPE html>
<html>

<head>
    <title>Cup-image</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div style="width:50%;">
        <svg viewbox="0 0 370 423" xmlns="http://www.w3.org/2000/svg">
            <path d="M 215 30 C 150 73 150 100 215 132" stroke="black" fill="white"></path>
            <path d="M 215 132 C 260 150 260 161 215 178" stroke="black" fill="white"></path>
            <path d="M 215 178 C 191 193 180 200 175 228" stroke="black" fill="white"></path>
        </svg>
    </div>
</body>

</html>