<!DOCTYPE html>
<html>

<head>
    <title>depend-on-us</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <svg viewbox="0 0 549 717" xmlns="http://www.w3.org/2000/svg">
        <path d="M 269 105 L 308 196 277 256 204 298 154 250 57 257" stroke="black" fill="lightyellow"></path>
        <path d="M 57 257 C 111 165 144 139 269 105" stroke="black" fill="lightyellow"></path>
    </svg>
</body>

</html>