<!DOCTYPE html>
<html>

<head>
    <title>Forgot password</title>
</head>

<body>
    <div style="position: absolute;top: 5%;left: 5%;right: 5%;bottom: 5%;    box-shadow: 0 0 6px #B5B5B5;border-radius: 20px;">
        <div style="width:25%;position: absolute;top: 25%;left: 35%;">
            <div>
                <span style="border-bottom:2px solid #B5B5B5;">FORGOT PASSWORD</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor
                    vehicula.</p>
            </div>
            <div style="margin-bottom:8%;margin-top:10%;">
                <p>Email</p>
                <input type="text" style="padding: 6px;border-radius: 5px;border:1px solid #000000;border:1px solid #D3D3D3;width: 100%;">
            </div>
            <div>
                <button style="border:0px;color: #FFFFFF;background-color:#32BDD2;width:30%;padding: 12px;border-radius: 21px;box-shadow: 1px 1px 5px #5E6469;">CONTINUE</button>
            </div>
        </div>
    </div>

</body>

</html>