<!DOCTYPE html>
<html>

<head>
    <title>Forgot password popup</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body style="background-color:#0000004D">
    <div id="forgot-password-popup">
        <div style="padding: 3% 5% 4% 2%;background-color: #FFFFFF;border-radius: 6px;width: 25%;margin: auto;box-shadow: 0px 0px 25px rgba(0,0,0,0.4D);margin-top: 20%;">
            <span style="border-bottom:2px solid #B5B5B5;">FORGOT PASSWORD</span>
            <p style="margin-bottom:0px;margin-top:5%;">The link has been sent to your email.</p>
            <p style="margin-bottom:0px;margin-top:0px;">The generated link will be active for 24 hours.</p>
        </div>
    </div>
</body>

</html>