<!DOCTYPE html>
<html>

<head>
    <title>Header</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <div class="header" style="display: grid;grid-template-columns: 90% 4% 4% 2%;box-shadow: 0px 0px 4px rgba(0.0,0.0,0.0,0.29);padding: 0.5%;">
            <div style="align-self:center;">
                <img src="../images/request-icons-02.png" alt="" width="30" height="30">
            </div>
            <div>
                <img src="../images/1.png" alt="" width="50" height="50" style="border-radius:50%;">
            </div>
            <div style="align-self:center;">
                <span>John Doe</span>
            </div>
            <div style="align-self:center;">
                <img src="../images/request-icons-05.png" alt="" width="20" height="20">
            </div>
        </div>
    </div>
</body>

</html>