<!DOCTYPE html>
<html>

<head>
    <title>Invite-people</title>
    <style>
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <div class="main-container">
            <div class="header">
                <div>
                    <div style="width:100%;padding: 0.5%;box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);display: grid;grid-template-columns: 90% 4% 4% 2%;align-items: center;">
                        <div>
                            <img src="../images/request-icons-02.png" width="35" height="auto">
                        </div>
                        <div style="text-align:end;">
                            <img src="../images/1.png" alt="" width="50" height="50" style="border-radius:50%;">
                        </div>
                        <div style="text-align: center;">
                            <span>John Doe</span>
                        </div>
                        <div style="text-align:center;">
                            <img src="../images/request-icons-05.png" width="10" height="10">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="body-container" style="display: grid;grid-template-columns: 5% 95%; margin: 2%;border:1px solid #B5B5B5;width: 96%;">
                    <div>
                        <div class="left-container">
                            <div style="transform: rotate(270deg);margin-top: 50%;">
                                <span>REQUISITION</span>
                            </div>
                            <div>
                                <div class="navigation-circles">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 3%;padding-right: 3%;background-color: #FCFCFC;padding-left: 3%;">
                        <div class="right-container">
                            <div>
                                <div class="add-people" style="display: grid;
                                grid-template-columns: 85% 10% 5%;
                                background-color: #F0F0F0;
                                border: 1px solid #E0E0E0;padding: 2%;">
                                    <div>
                                        <span>INVITE PEOPLE</span>
                                        <p>Lorem ipsum dolar sit amet, consectator adipiscing elit</p>
                                    </div>
                                    <div style="align-self:center;text-align:end;">
                                        <span>ADD PEOPLE</span>
                                    </div>
                                    <div style="align-self:center;margin-left: 10%;">
                                        <img src="../images/request-icons-10.png" alt="" width="40" height="40">
                                    </div>
                                </div>
                            </div>
                            <div style="border: 1px solid #F0F0F0;padding: 3% 0% 8% 2%;">
                                <div class="profile-content">
                                    <div style="width:40%;margin-bottom: 1%;">
                                        <div style="display: grid;grid-template-columns: 20% 50% 30%;background-color: #F4F8FA;border: 1px solid #D5E2E8">
                                            <div style="text-align:center;align-self:center;padding: 1%;">
                                                <img src="../images/1.png" style="width:50px;height:50px;border-radius: 50%;">
                                            </div>
                                            <div style="align-self:center;">
                                                <span>Luke Ray</span>
                                                <p>Lorem ipsum dolar sit amet</p>
                                            </div>
                                            <div style="align-self:center;text-align:end;margin-right: 15%;">
                                                <img src="../images/request-icons-24.png" alt="" width="30" height="30">
                                            </div>
                                        </div>
                                    </div>

                                    <div style="width:40%;margin-bottom: 1%;">
                                        <div style="display: grid;grid-template-columns: 20% 50% 30%;background-color: #F4F8FA;border: 1px solid #D5E2E8">
                                            <div style="text-align:center;align-self:center;padding: 1%;">
                                                <img src="../images/1.png" style="width:50px;height:50px;border-radius: 50%;">
                                            </div>
                                            <div style="align-self:center;">
                                                <span>Daisy Lake</span>
                                                <p>Lorem ipsum dolar sit amet</p>
                                            </div>
                                            <div style="align-self:center;text-align:end;margin-right: 15%;">
                                                <img src="../images/request-icons-24.png" alt="" width="30" height="30">
                                            </div>
                                        </div>
                                    </div>

                                    <div style="width:40%;">
                                        <div style="display: grid;grid-template-columns: 20% 50% 30%;background-color: #F4F8FA;border: 1px solid #D5E2E8">
                                            <div style="text-align:center;align-self:center;padding: 1%;">
                                                <img src="../images/1.png" style="width:50px;height:50px;border-radius: 50%;">
                                            </div>
                                            <div style="align-self:center;">
                                                <span>Mark Smith</span>
                                                <p>Lorem ipsum dolar sit amet</p>
                                            </div>
                                            <div style="align-self:center;text-align:end;margin-right: 15%;">
                                                <img src="../images/request-icons-24.png" alt="" width="30" height="30">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Right-button-content" style="display: grid;grid-template-columns: 80% 10% 10%;align-items: center;margin-top: 8%;margin-bottom: 2%;">
                                <div>
                                    <span style="border-bottom:2px solid #B5B5B5;padding-bottom: 0.5%">SAVE DRAFT</span>
                                </div>
                                <div style="text-align:center;">
                                    <span style="border-bottom:2px solid #32BDD2;color: #32BDD2;padding-bottom: 2%">BACK</span>
                                </div>
                                <div>
                                    <div class="next button icon">
                                        <div style="display: grid;width:60%;grid-template-columns: 60% 40%;text-align: center;border-radius: 21px;           
                                        box-shadow: 1px 1px 5px #5E6469;
                                        background-color: #32BDD2;align-items: center;">
                                            <div style="text-align:end;">
                                                <button style="border: 0px;color: #FFFFFF;
                                      background-color: #32BDD2;padding: 12px;border-radius: 21px">NEXT</button>
                                            </div>
                                            <div style="text-align:left;">
                                                <img src="../images/request-icons-12.png" alt="" width="20" height="15"
                                                    class="next-button" style="align-self:center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>