<!DOCTYPE html>
<html>

<head>
    <title>Login-error</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body style="background-color:#F6F8F9;">
    <div style="margin: 2%;box-shadow: 0px 0px 10px rgba(0.0,0.0,0.0,0.29);border-radius: 20px;background-color: #FFFFFF;">
        <div class="main-container" style="margin:auto;width:30%;padding-top: 8%;padding-bottom: 8%;">
            <div style="margin-bottom: 10%;">
                <span style="color:#595959;font-size:1.2vw;font-family:Roboto Bold;border-bottom: 3px solid #707070;">LOGIN</span>
            </div>
            <div style="margin-bottom: 2%;">
                <p>Email or Mobile Username</p>
            </div>
            <div style="padding-bottom:1%;">
                <input type="text" style="padding: 6px;border-radius: 5px;border:1px solid #000000;border:1px solid #D3D3D3;width: 100%;">
            </div>
            <div>
                <div class="4" style="margin-bottom:10%;">
                    <div style="float:left;margin-right: 2%">
                        <img src="../images/request-icons-07.png" alt="" width="10" height="10">
                    </div>
                    <div>
                        <span>This field is required</span>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 2%;">
                <p>Password</p>
            </div>
            <div style="padding-bottom:1%;">
                <input type="password" placeholder="********" style="padding: 6px;border-radius: 5px;border:1px solid #000000;margin-bottom: 1%;border:1px solid #D3D3D3;width: 100%;">
            </div>
            <div>
                <div class="7" style="margin-bottom:10%;">
                    <div style="float:left;margin-right: 2%">
                        <img src="../images/request-icons-07.png" alt="" width="10" height="10">
                    </div>
                    <div>
                        <span>This field is required</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="8">
                    <div style="float:left;">
                        <input type="checkbox">
                    </div>
                    <div style="float:left;">
                        <span>Remember me</span>
                    </div>
                    <div style="float:right;">
                        <span style="border-bottom:1px solid #868686;">Forgot Password</span>
                    </div>
                </div>
            </div>
            <div style="clear:both;padding-top:15%;">
                <button style="border:0px;color: #FFFFFF;background-color:#32BDD2;width:30%;padding: 12px;border-radius: 21px;box-shadow: 1px 1px 5px rgba(0.0,0.0,0.0,0.40);">LOGIN</button>
            </div>
        </div>
    </div>

</body>

</html>