<!DOCTYPE html>
<html>

<head>
    <title>My-Request-list</title>
    <link rel="stylesheet" type="text/css" href="../css/myrequest.css">
    <script src="../js/myrequest.js"></script>
</head>

<body>
    <div>
        <div class="main-container">
            <div>
                <div class="header-container">
                    <div>
                        <img src="../images/request-icons-02.png" width="35" height="auto">
                    </div>
                    <div style="text-align:center;">
                        <img src="../images/1.png" style="width:50px;height:50px;border-radius: 50%;">
                    </div>
                    <div style="text-align:center;">
                        <span>John Doe</span>
                    </div>
                    <div>
                        <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>
            <div>
                <div id="my-request-list" class="body-container">
                    <div style="padding:2%;">
                        <div class="my-request-container">
                            <div>
                                <span style="border-bottom:3px solid #32BDD2;padding-bottom: 1%;">My Request</span>
                            </div>
                            <div>
                                <div class="1b" style="border:1px solid #B5B5B5;width: 70%;border-radius: 39px;padding: 1%;">
                                    <div style="float:left;width:80%;">
                                        <input type="text" placeholder="Search" style="padding: 1%;border: 1px solid #FFFFFF;border-radius: 20px;width: 100%;">
                                    </div>
                                    <div style="text-align:end;">
                                        <img src="../images/request-icons-03.png" alt="" width="20" height="20">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a href="../views/note.html">
                                    <button style="border:0px;color: #FFFFFF;background-color:#32BDD2;padding: 12px;border-radius: 21px;box-shadow: 1px 1px 3px rgba(0,0,0,0.29);">NEW
                                        REQUEST</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="background-color:#F6F8F9;">
                        <div class="2" style="padding-left: 2%;padding-top: 0.5%;">
                            <div style="float:left;padding-top: 1%;padding-bottom: 1%">
                                <img onclick="filter()" src="../images/request-icons-01.png" alt="" width="50" height="50">
                            </div>
                            <div style="float:left;margin-top:0.5%;margin-left:0.5%;padding-top: 1%;padding-bottom: 1%">
                                <p>FILTER</p>
                                <p>Showing approved requests</p>
                            </div>
                            <div onclick="filteroption()" id="filter" style="padding-left: 1%;
                            padding-top: 1%;
                            padding-bottom: 1%;
                            box-shadow: 0px 3px 10px rgba(0,0,0,0.29);
                            width: 8%;
                            position: absolute;
                            top: 31%;
                            background-color: white;display: none;">
                                <div style="padding-bottom:10%;">
                                    <span style="color:#747474">CLEAR</span>
                                </div>
                                <div style="padding-top:10%;padding-bottom:10%;">
                                    <span style="color:#B5B5B5;">APPROVED</span>
                                </div>
                                <div style="padding-top:10%;padding-bottom:10%;color: #5A5A5A">
                                    <span>DRAFT</span>
                                </div>
                                <div style="padding-top:10%;padding-bottom:10%;color: #5A5A5A">
                                    <span>AWAITING</span>
                                </div>
                                <div style="padding-top:10%;color: #5A5A5A">
                                    <span>REJECTED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="../views/requestview.html" style="text-decoration:none;">
                            <div id="submitted-container" class="Submitted-container" style="border-top:0.5px solid #DFEBEF;">
                                <div>
                                    <p style="color:#000000">PUR-2019-056</p>
                                    <p style="color:#000000">Submitted on</p>
                                    <p style="color:#000000">06 July 2019</p>
                                </div>
                                <div>
                                    <img src="../images/request-icons-14.png" alt="" width="50" height="50">
                                </div>
                                <div style="text-align:end;">
                                    <span style="color:#000000">AWAITING APPROVAL</span>
                                </div>
                                <div style="background-color: yellow;width: 10%;height:12%;border-radius: 50%;margin-left:5%">
                                    <!-- <img src="../images/yellowdot.png" width="10" height="10"> -->
                                    <span style="padding: 5%;"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <div class="Submitted-container">
                            <div>
                                <p>PUR-2019-056</p>
                                <p>Submitted on</p>
                                <p>06 July 2019</p>
                            </div>
                            <div>
                                <img src="../images/request-icons-14.png" alt="" width="50" height="50">
                            </div>
                            <div style="text-align:end;">
                                <span>APPROVED</span>
                            </div>
                            <div style="background-color: green;width: 10%;height:12%;border-radius: 50%;margin-left:5%">
                                <!-- <img src="../images/yellowdot.png" width="10" height="10"> -->
                                <span style="padding: 5%;"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="Submitted-container">
                            <div>
                                <p>PUR-2019-056</p>
                                <p>Submitted on</p>
                                <p>06 July 2019</p>
                            </div>
                            <div>
                                <img src="../images/request-icons-14.png" alt="" width="50" height="50">
                            </div>
                            <div style="text-align:end;">
                                <span>DRAFT</span>
                            </div>
                            <div style="background-color: yellow;width: 10%;height:12%;border-radius: 50%;margin-left:5%">
                                <!-- <img src="../images/yellowdot.png" width="10" height="10"> -->
                                <span style="padding: 5%;"></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="Submitted-container">
                            <div>
                                <p>PUR-2019-056</p>
                                <p>Submitted on</p>
                                <p>06 July 2019</p>
                            </div>
                            <div>
                                <img src="../images/request-icons-14.png" alt="" width="50" height="50">
                            </div>
                            <div style="text-align:end;">
                                <span>REJECTED</span>
                            </div>
                            <div style="background-color: red;width: 10%;height:12%;border-radius: 50%;margin-left:5%">
                                <!-- <img src="../images/yellowdot.png" width="10" height="10"> -->
                                <span style="padding: 5%;"></span>
                            </div>
                        </div>
                    </div>
                    <div style="padding:2%;">
                        <div style="width: 10%;
                        margin: auto;">
                            <div style="float:left;margin-right: 5%;">
                                <span>SHOW MORE</span>
                            </div>
                            <div>
                                <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

</body>

</html>