<!DOCTYPE html>
<html>

<head>
    <title>My-Request-list</title>
    <style>
        *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    </style>
</head>

<body>
    <div>
        <div style="width:100%;padding: 0.5%;box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);display: grid;grid-template-columns: 100fr 4fr 4fr 4fr">
            <div>
                <img src="../images/request-icons-02.png" width="35" height="auto">
            </div>
            <div style="text-align: end;">
                <img src="../images/1.png" style="width:50px;height:50px;border-radius: 50%;">
            </div>
            <div style="text-align: center;align-self: center;">
                <span>John Doe</span>
            </div>
            <div style="text-align:center;align-self: center">
                <img src="../images/request-icons-05.png" width="10" height="10">
            </div>
        </div>

        <div style="width:96%;margin: 1%;border:1px solid #B5B5B5;">
            <div class="body-content">
                <div style="padding: 2%;border-bottom: 0.5px solid #B5B5B5;display: grid;grid-template-columns: auto auto auto">
                    <div class="body-container">
                        <span style="border-bottom:2px solid #32BDD2">My Request</span>
                    </div>
                    <div style="border:1px solid #B5B5B5;border-radius:39px;display: table;">
                        <input type="text" placeholder="Search" style="width: 95%;padding: 1%;border: 1px solid #FFFFFF;border-radius: 20px;">
                        <img src="../images/request-icons-03.png" width="10" height="10">
                    </div>
                    <div style="text-align: center;">
                        <span><button style="border:0px;color: #FFFFFF;background-color:#32BDD2;padding: 12px;border-radius: 21px;box-shadow: 1px 1px 5px #5E6469;">NEW
                                REQUEST</button></span>
                    </div>
                </div>

                <div style="padding: 2%;border-bottom: 0.5px solid #B5B5B5;display: grid;grid-template-columns: 4fr 100fr ">
                    <div style="align-self: center">
                        <img src="../images/request-icons-01.png" width="50" height="50">
                    </div>
                    <div>
                        <p>FILTER</p>
                        <p>Showing approved requests</p>
                    </div>
                </div>
                <div style="padding: 2%;border-bottom: 0.5px solid #B5B5B5;display: grid;grid-template-columns: auto auto auto">
                    <div>
                        <p>PUR-2019-056</p>
                        <p>Submitted on</p>
                        <p>06 July 2019</p>
                    </div>
                    <div style="text-align: center;align-self: center">
                        <img src="../images/request-icons-14.png" width="50" height="50">
                    </div>
                    <div style="text-align: end;align-self: center;">
                        <span>APPROVED</span>
                        <img src="../images/greendot.png" width="10" height="10">
                    </div>
                </div>

                <div style="padding: 2%;border-bottom: 0.5px solid #B5B5B5;display: grid;grid-template-columns: auto auto auto">
                    <div style="width:25%;">
                        <p>PUR-2019-056</p>
                        <p>Submitted on</p>
                        <p>06 July 2019</p>
                    </div>
                    <div style="text-align: center;align-self: center">
                        <img src="../images/request-icons-14.png" width="50" height="50">
                    </div>
                    <div style="text-align: end;align-self: center;">
                        <span>APPROVED</span>
                        <img src="../images/greendot.png" width="10" height="10">
                    </div>
                </div>

                <div style="padding: 2%;border-bottom: 0.5px solid #B5B5B5;display: grid;grid-template-columns: auto auto auto">
                    <div style="width:25%;">
                        <p>PUR-2019-056</p>
                        <p>Submitted on</p>
                        <p>06 July 2019</p>
                    </div>
                    <div style="text-align: center;align-self: center">
                        <img src="../images/request-icons-14.png" width="50" height="50">
                    </div>
                    <div style="text-align: end;align-self: center;">
                        <span>APPROVED</span>
                        <img src="../images/greendot.png" width="10" height="10">
                    </div>
                </div>

                <div style="padding: 2%;border-bottom: 0.5px solid #B5B5B5;display: grid;grid-template-columns: auto auto auto">
                    <div style="width:25%;">
                        <p>PUR-2019-056</p>
                        <p>Submitted on</p>
                        <p>06 July 2019</p>
                    </div>
                    <div style="text-align: center;align-self: center">
                        <img src="../images/request-icons-14.png" width="50" height="50">
                    </div>
                    <div style="text-align: end;align-self: center;">
                        <span>APPROVED</span>
                        <img src="../images/greendot.png" width="10" height="10">
                    </div>
                </div>

                <div style="width: 100%;padding: 2%;display: grid;grid-template-columns: 50fr 50fr;">
                    <div style="text-align:end;">
                        <span>SHOW MORE</span>
                    </div>
                    <div>
                        <img src="../images/request-icons-05.png" width="10" height="10">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>