<!DOCTYPE html>
<html>

<head>
    <title>Preview</title>
    <style>
        p {
            margin-top: 0%;
            margin-bottom: 0%;
        }

        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <div style="width:100%;">
            <div>
                <div style="padding: 0.5%;box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);display: grid;grid-template-columns: 90% 4% 4% 2%;">
                    <div>
                        <img src="../images/request-icons-02.png" width="35" height="auto">
                    </div>
                    <div style="text-align: center;">
                        <img src="../images/1.png" alt="" width="50" height="50" style="border-radius: 50%;">
                    </div>
                    <div style="text-align: center;align-self: center;">
                        <span>John Doe</span>
                    </div>
                    <div style="text-align:center;align-self: center">
                        <img src="../images/request-icons-05.png" width="10" height="10">
                    </div>
                </div>
            </div>
            <div style=" margin: 2%;box-shadow: 0px 0px 6px rgba(0,0,0,0.29);">
                <div class="body-container" style="border-bottom: 0.5px solid #B5B5B5;display: grid;grid-template-columns: auto auto auto">
                    <div style="background-color:#FFFFFF;">
                        <div class="left-container">
                            <div style="transform:rotate(270deg);margin-top: 50%;">
                                <span>REQUISITION</span>
                            </div>
                            <div>
                                <div class="navigation-circle">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding:2%;background-color: #FCFCFC">
                        <div class="right-container">
                            <div style="margin-bottom:5%;">
                                <div class="1">
                                    <p>PREVIEW</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Mauris mattis,
                                        tortor sit amet
                                        tempor
                                        vehicula.</p>
                                </div>
                            </div>
                            <div style="margin-bottom:5%;">
                                <div class="2">
                                    <p style="margin-bottom:1%;">NOTE</p>
                                    <p style="width:30%;margin-bottom: 1%;">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing
                                        elit. Mauris mattis,
                                        tortor sit amet
                                        tempor
                                        vehicula, tortor ipsum faucibus nunc, id aliquam
                                        lacus odio nec magna. Cras
                                        a ipsum
                                        placerat,
                                        efficitur nibh sed, iaculis elit. Mauris semper
                                        tempor facilisis. Nunc at
                                        consequat
                                        tortor, vel
                                        facilisis tortor.</p>
                                    <p>REQUEST TYPE - SELF</p>
                                </div>
                            </div>
                            <div style="border-bottom:1px solid #F0F0F0;padding-bottom: 2%;">
                                <div style="display:grid;grid-template-columns:30% 20% 20% 30%;">
                                    <div>
                                        <p style="margin-bottom:1%;">ITEMS</p>
                                        <p>IBM ThinkServer TS150 Tower Server With Max.
                                            Processor 1 x Intel Xeon E3
                                            (Quad Core)
                                            E3-1225 v5"(3.3
                                            GHz /Cache 8 MB)/ STD MEMORY 8GB X 1/ MAX. MEMORY
                                            64GB 4 Slots/HARD DRIVE 1
                                            X 1TB SATA
                                            3.5" 7.2k
                                            SATA / STD. HDD BAY/ 3 bay MAX. HDD BAY upto 4 x
                                            3.5" +1 x 2.5" bay/
                                            OPTICAL Multi
                                            Burner/Integrated RAID 0,1,5,10 (RAID 121i).</p>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>01</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>10 Jul 2019</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>Rs. 45, 000</span>
                                    </div>
                                </div>
                            </div>
                            <div style="border-bottom:1px solid #F0F0F0;padding-bottom: 2%;padding-top: 2%;">
                                <div style="display:grid;grid-template-columns:30% 20% 20% 30%">
                                    <div>
                                        <p>Lenovo ThinkServer TS450 (PN:70M2001VIH) With Max. Processor 1 x Intel Xeon
                                            E3 (Quad
                                            Core)
                                            E3-1225
                                            v5”(3.3 GHz /Cache 8 MB)/ STD MEMORY 8GB X 1 MAX. MEMORY 64GB; 4 DIMM
                                            Memory Slots/
                                            HARD DRIVE
                                            Open
                                            Bay/ 2.5” SAS/SATA HS Bays (8 bay MAX. HDD BAY upto 8 x 2.5” bay MAX. HDD
                                            BAY upto
                                            16x2.5”)/OPTICAL
                                            Multi Burner/ PCIe RAID 0,1,10 (RAID 520i). Supports SAS & SATA
                                            drives/Power Supply
                                            Standard
                                            (Inbuilt)
                                            1 x 450W Power Supply /Max: 2</p>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>01</span>
                                    </div>
                                    <div style="text-align:center;align-self: center">
                                        <span>10 Jul 2019</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>Rs. 45, 000</span>
                                    </div>
                                </div>
                            </div>
                            <div style="border-bottom:1px solid #F0F0F0;padding-bottom: 2%;padding-top: 2%;">
                                <div style="display:grid;grid-template-columns:30% 20% 20% 30%">
                                    <div>
                                        <p>IBM X3300M4 Server With x3300M4/ Part NO:7382IA4/ Intel Xeon E5 1230v2 1.8
                                            GHz,10
                                            MB,1066MHz/ 1x
                                            8GB
                                            RAM/ 1x500GB SATA HDD/ 3.5Simple-Swap/ MULTI BUTRNER</p>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>01</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>10 Jul 2019</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>Rs. 45, 000</span>
                                    </div>
                                </div>
                            </div>
                            <div style="border-bottom:1px solid #F0F0F0;padding-bottom: 2%;padding-top: 2%;">
                                <div style="display:grid;grid-template-columns:30% 20% 20% 30%">
                                    <div>
                                        <p>IBM Lenovo ThinkServer RD450 Rack Server (PN:70Q90059IH) with 1 x Intel®
                                            Xeon® E5-2620v4
                                            (2.1GHz/8C/20MB/85W/2133Mhz)/Max: 2 Processors/ STD MEMORY 16GB X 1 MAX.
                                            MEMORY 1 TB
                                            ;16 Slots/
                                            HARD
                                            DRIVE : Open Bay (2.5” HOT Swap SAS/SATA STD. HDD BAY 8 bay / MAX. HDD BAY
                                            16 bay with
                                            optical
                                            bay/24
                                            bay without optical bay) / OPTICAL Multi Burner/ Integrated RAID 0,1,10
                                            (RAID 110i).
                                            Supports
                                            only SATA
                                            drive/ Power Supply Standard (Inbuilt) 1 x 750W Power Supply Max: 2</p>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>01</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>10 Jul 2019</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>Rs. 45, 000</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div style="display:grid;grid-template-columns:30% 20% 20% 30%;padding-top: 2%">
                                    <div>
                                        <p>daptec 128 MB Raid Controller Pair. Pci-e SAS/SATA</p>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>01</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>10 Jul 2019</span>
                                    </div>
                                    <div style="text-align:center;align-self: center;">
                                        <span>Rs. 45, 000</span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom:5%;margin-top:5%;">
                                <div class="8">
                                    <div>
                                        <div style="margin-bottom:1%">
                                            <span>ATTACHMENTS</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="width: 25%;border:1px solid #D5E2E8;margin-bottom: 2%;">
                                            <div style="border-bottom:1px solid #D5E2E8">
                                                <div style="display: grid;
                                                grid-template-columns: 80% 20%;padding: 2%;">
                                                    <div>
                                                        <span>abc0037429023.doc</span>
                                                    </div>
                                                    <div>
                                                        <span>976 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding: 2%">
                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="width: 25%;border:1px solid #D5E2E8;">
                                            <div style="border-bottom:1px solid #D5E2E8">
                                                <div style="display: grid;
                                                grid-template-columns: 80% 20%;padding: 2%">
                                                    <div>
                                                        <span>abc003745gb9023.doc</span>
                                                    </div>
                                                    <div>
                                                        <span>988 KB</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding: 2%">
                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div style="margin-bottom:5%;">
                                    <div>
                                        <div style="margin-bottom:1%">
                                            <p>INVITEES</p>
                                        </div>
                                    </div>
                                    <div style="width:25%;">
                                        <div style="display: grid;
                                        grid-template-columns: 15% 85%;border: 1px solid #E0E0E0;padding: 3%">
                                            <div style="align-self:center;">
                                                <img src="../images/1.png" alt="" width="40" height="40" style="border-radius: 50%;">
                                            </div>
                                            <div>
                                                <p>Luke Ray</p>
                                                <p>Lorem ipsum doler sit amet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:25%;">
                                        <div style="display: grid;
                                        grid-template-columns: 15% 85%;border: 1px solid #E0E0E0;padding: 3%">
                                            <div style="align-self:center;">
                                                <img src="../images/1.png" alt="" width="40" height="40" style="border-radius: 50%;">
                                            </div>
                                            <div>
                                                <p>Daisy Lake</p>
                                                <p>Lorem ipsum doler sit amet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:25%;">
                                        <div style="display: grid;
                                        grid-template-columns: 15% 85%;border: 1px solid #E0E0E0;padding: 3%">
                                            <div style="align-self:center;">
                                                <img src="../images/1.png" alt="" width="40" height="40" style="border-radius: 50%;">
                                            </div>
                                            <div>
                                                <p>Mark Smith</p>
                                                <p>Lorem ipsum doler sit amet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div style="margin-bottom:5%;">
                                    <div>
                                        <div style="margin-bottom:1%">
                                            <span>APPROVAL(S)</span>
                                        </div>
                                    </div>
                                    <div style="width:25%;">
                                        <div style="display: grid;
                                        grid-template-columns: 15% 85%;border: 1px solid #E0E0E0;padding: 3%">
                                            <div style="align-self:center;">
                                                <img src="../images/1.png" alt="" width="40" height="40" style="border-radius: 50%;">
                                            </div>
                                            <div>
                                                <p>John Campbell</p>
                                                <p>Lorem ipsum doler sit amet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:25%;">
                                        <div style="display: grid;
                                        grid-template-columns: 15% 85%;border: 1px solid #E0E0E0;padding: 3%">
                                            <div style="align-self:center;">
                                                <img src="../images/1.png" alt="" width="40" height="40" style="border-radius: 50%;">
                                            </div>
                                            <div>
                                                <p>Kate Gill</p>
                                                <p>Lorem ipsum doler sit amet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div style="display: grid;grid-template-columns: 80% 10% 10%;">
                                    <div style="align-self: center;">
                                        <span style="border-bottom:2px solid #B5B5B5;padding-bottom: 0.3%;">SAVE
                                            DRAFT</span>
                                    </div>
                                    <div style="text-align: center;align-self: center;">
                                        <span style="border-bottom:2px solid #32BDD2;color:#32BDD2;padding-bottom: 1%;">BACK</span>
                                    </div>
                                    <div>
                                        <button style="border:0px;background-color: #32bdd2;color: #FFFFFF;border-radius: 25px;text-align: center;padding: 5%;width: 50%;">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>