<!DOCTYPE html>
<html>

<head>
    <title>Requisition-items</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        .dotted-line {
            border-left: 3px dotted #D3D3D3;
            height: 70px;
            margin-left: 25%;
        }

        .circle {
            width: 2%;
            background-color: #FFFFFF;
            border-radius: 50%;
            border: 1px solid #D3D3D3;
            height: absolute;
            position: absolute;
            text-align: center;
            padding: 0.5%;
        }
    </style>
</head>

<body>
    <div>
        <div class="header">
            <div>
                <div style="width:100%;padding: 0.5%;box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);display: grid;grid-template-columns: 90% 4% 4% 2%;align-items: center;">
                    <div>
                        <img src="../images/request-icons-02.png" width="35" height="auto">
                    </div>
                    <div style="text-align: end;">
                        <img src="../images/1.png" alt="" width="50" height="50" style="border-radius: 50%;">
                    </div>
                    <div style="text-align: end;">
                        <span>John Doe</span>
                    </div>
                    <div style="text-align:center;">
                        <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>
        </div>

        <div class="body" style="display: grid;grid-template-columns: 5% 95%;margin: 2%;box-shadow: 0px 0px 6px rgba(0,0,0,0.29)">
            <div class="left-content">
                <div style="margin-top: 12vh;text-align: center;">
                    <div style="transform:rotate(270deg)">
                        <span>REQUISITION</span>
                    </div>
                    <!-- <div style="margin-top:8vh;">
                        <img src="../images/request-image-31.png" alt="" width="100" height="500">
                    </div> -->
                    <div style="margin-left: 30%;
                            margin-top: 70%;">
                        <div class="circle">
                            <span style="color:black;">1</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle" style="background-color:#32BDD2;">
                            <span class="text" style="color:#FFFFFF;">2</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">3</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">4</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">5</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">6</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-content" style="padding-left: 3%;padding:3% 3% 3% 3%;background-color: #FCFCFC">
                <div class="right-content-upper-part" style="margin-bottom:8%;border:1px solid #F0F0F0">
                    <div class="add-items" style="display:grid;grid-template-columns:85% 10% 5%;padding: 2%;background-color: #F0F0F0;align-items: center;">
                        <div>
                            <p>ITEMS</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div style="text-align: end;
                        align-self: center">
                            <span>ADD ITEMS</span>
                        </div>
                        <div style="text-align: center;align-self: center">
                            <img src="../images/request-icons-10.png" alt="" width="50" height="50">
                        </div>
                    </div>

                    <div class="add-items-list">

                        <div style="display: grid;
                        grid-template-columns: 40% 15% 20% 20% 5%;padding: 2% 1% 2% 1%;border-bottom: 1px solid #F0F0F0;align-items: center;">
                            <div>
                                <p>IBM ThinkServer TS150 Tower Server With Max. Processor 1 x Intel Xeon E3 (Quad Core)
                                    E3-1225
                                    v5"(3.3
                                    GHz
                                    /Cache 8 MB) / STD MEMORY 8GB X 1/ MAX. MEMORY 64GB 4 Slots/HARD DRIVE 1 X 1TB SATA
                                    3.5"
                                    7.2k
                                    SATA
                                    /
                                    STD. HDD BAY/ 3 bay MAX. HDD BAY upto 4 x 3.5" +1 x 2.5" bay/ OPTICAL Multi
                                    Burner/Integrated
                                    RAID
                                    0,1,5,10 (RAID 121i).</p>
                                <p>READ MORE</p>
                            </div>

                            <div style="text-align: center">
                                <span>01</span>
                            </div>
                            <div style="text-align: center">
                                <span>10
                                    Jul
                                    2019</span>
                            </div>
                            <div style="text-align: center">
                                <span>Rs.
                                    45,
                                    000</span>
                            </div>
                            <div style="text-align: center">
                                <img src="../images/request-icons-11.png" alt="" width="50" height="50">
                            </div>
                        </div>

                        <div style="display: grid;grid-template-columns: 40% 15% 20% 20% 5%;padding: 2% 1% 2% 1%;border-bottom: 1px solid #F0F0F0;align-items: center;">
                            <div>
                                <p>Lenovo ThinkServer TS450 (PN:70M2001VIH) With Max. Processor 1 x Intel Xeon E3 (Quad
                                    Core)
                                    E3-1225
                                    v5”(3.3 GHz /Cache 8 MB)/ STD MEMORY 8GB X 1 MAX. MEMORY 64GB; 4 DIMM Memory Slots/
                                    HARD
                                    DRIVE
                                    Open
                                    Bay/ 2.5” SAS/SATA HS Bays (8 bay MAX. HDD BAY upto 8 x 2.5” bay MAX. HDD BAY upto
                                    16x2.5”)/OPTICAL
                                    Multi Burner/ PCIe RAID 0,1,10 (RAID 520i). Supports SAS & SATA drives/Power Supply
                                    Standard
                                    (Inbuilt)
                                    1 x 450W Power Supply /Max: 2</p>
                                <p>READ MORE</p>
                            </div>

                            <div style="text-align: center">
                                <span>01</span>
                            </div>
                            <div style="text-align: center">
                                <span>10
                                    Jul
                                    2019</span>
                            </div>
                            <div style="text-align: center">
                                <span>Rs.
                                    45,
                                    000</span>
                            </div>
                            <div style="text-align: center">
                                <img src="../images/request-icons-11.png" alt="" width="50" height="50">
                            </div>
                        </div>

                        <div style="display: grid;grid-template-columns: 40% 15% 20% 20% 5%;padding: 2% 1% 2% 1%;border-bottom: 1px solid #F0F0F0;align-items: center;">
                            <div>
                                <p>IBM X3300M4 Server With x3300M4/ Part NO:7382IA4/ Intel Xeon E5 1230v2 1.8 GHz,10
                                    MB,1066MHz/ 1x
                                    8GB
                                    RAM/ 1x500GB SATA HDD/ 3.5Simple-Swap/ MULTI BUTRNER</p>
                                <p>READ MORE</p>
                            </div>

                            <div style="text-align: center">
                                <span>01</span>
                            </div>
                            <div style="text-align: center">
                                <span>10
                                    Jul
                                    2019</span>
                            </div>
                            <div style="text-align: center">
                                <span>Rs.
                                    45,
                                    000</span>
                            </div>
                            <div style="text-align: center">
                                <img src="../images/request-icons-11.png" alt="" width="50" height="50">
                            </div>
                        </div>

                        <div style="display: grid;grid-template-columns: 40% 15% 20% 20% 5%;padding: 2% 1% 2% 1%;border-bottom: 1px solid #F0F0F0;align-items: center;">
                            <div>
                                <p>IBM Lenovo ThinkServer RD450 Rack Server (PN:70Q90059IH) with 1 x Intel® Xeon®
                                    E5-2620v4
                                    (2.1GHz/8C/20MB/85W/2133Mhz)/Max: 2 Processors/ STD MEMORY 16GB X 1 MAX. MEMORY 1
                                    TB
                                    ;16
                                    Slots/
                                    HARD
                                    DRIVE : Open Bay (2.5” HOT Swap SAS/SATA STD. HDD BAY 8 bay / MAX. HDD BAY 16 bay
                                    with
                                    optical
                                    bay/24
                                    bay without optical bay) / OPTICAL Multi Burner/ Integrated RAID 0,1,10 (RAID
                                    110i).
                                    Supports
                                    only
                                    SATA
                                    drive/ Power Supply Standard (Inbuilt) 1 x 750W Power Supply Max: 2</p>
                                <p>READ MORE</p>
                            </div>

                            <div style="text-align: center">
                                <span>01</span>
                            </div>
                            <div style="text-align: center">
                                <span>10
                                    Jul
                                    2019</span>
                            </div>
                            <div style="text-align: center">
                                <span>Rs.
                                    45,
                                    000</span>
                            </div>
                            <div style="text-align: center">
                                <img src="../images/request-icons-11.png" alt="" width="50" height="50">
                            </div>
                        </div>

                        <div style="display: grid;grid-template-columns: 40% 15% 20% 20% 5%;padding: 2% 1% 2% 1%;align-items: center;">
                            <div>
                                <p>daptec 128 MB Raid Controller Pair. Pci-e SAS/SATA</p>
                                <p>READ MORE</p>
                            </div>

                            <div style="text-align: center">
                                <span>01</span>
                            </div>
                            <div style="text-align: center">
                                <span>10 Jul 2019</span>
                            </div>
                            <div style="text-align: center">
                                <span>Rs.
                                    45,
                                    000</span>
                            </div>
                            <div style="text-align: center">
                                <img src="../images/request-icons-11.png" alt="" width="50" height="50">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Right-button-content" style="display: grid;grid-template-columns: 80% 10% 10%;align-items: center;">
                    <div>
                        <span style="border-bottom:2px solid #B5B5B5;">SAVE DRAFT</span>
                    </div>
                    <div style="text-align:center;">
                        <span style="border-bottom:2px solid #32BDD2;color: #32BDD2">BACK</span>
                    </div>
                    <div>
                        <div class="next button icon">
                            <div style="display: grid;width:60%;grid-template-columns: 60% 40%;text-align: center;border-radius: 21px;           
                                        box-shadow: 1px 1px 5px #5E6469;
                                        background-color: #32BDD2;align-items: center;">
                                <div style="text-align:end;">
                                    <button style="border: 0px;color: #FFFFFF;
                                      background-color: #32BDD2;padding: 12px;border-radius: 21px">NEXT</button>
                                </div>
                                <div style="text-align:left;">
                                    <img src="../images/request-icons-12.png" alt="" width="20" height="15" class="next-button"
                                        style="align-self:center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>