<!DOCTYPE html>
<html>

<head>
    <title>svg-circle-dotted-line</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }

        .dotted-line {
            border-left: 6px dotted #D3D3D3;;
            height: 100px;
            margin-left: 15%;
        }
        
    </style>
</head>

<body>


    <div style="width:5%;">


        <div class="circle" style="width: 2%;
        background-color: #FFFFFF;
        border-radius: 50%;
        border: 1px solid #D3D3D3;
        height: absolute;
        height: 30px;
        position: absolute;">

        </div>

        <div class="dotted-line"></div>
        <div style="width: 2%;
background-color: #FFFFFF;
border-radius: 50%;
border: 1px solid #D3D3D3;
height: absolute;
height: 30px;
position: absolute;">

        </div>

        <div class="dotted-line"></div>


    </div>

</body>

</html>