<!DOCTYPE html>
<html>

<head>
    <title>svg-demo</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div style="width:50%">
        <svg viewbox="0 0 439 559" xmlns="http://www.w3.org/2000/svg">
            <path d="M 18 184 L 136 69" stroke="black"></path>
            <path d="M 136 69 L 305 69" stroke="black"></path>
            <path d="M 305 69 L 420 184" stroke="black"></path>
            <path d="M 420 184 L 420 353" stroke="black"></path>
            <path d="M 420 353 L 305 473" stroke="black"></path>
            <path d="M 305 473 L 136 473" stroke="black"></path>
            <path d="M 136 473 L 18 354" stroke="black"></path>
            <path d="M 18 354 L 18 184" stroke="black"></path>
            <path d="M 136 69 L 190 198" stroke="black"></path>
            <path d="M 136 69 L 190 198" stroke="black"></path>
            <path d="M 190 198 L 251 198" stroke="black"></path>
            <path d="M 305 69 L 251 198" stroke="black"></path>
            <path d="M 251 198 L 292 240" stroke="black"></path>
            <path d="M 292 240 L 293 302" stroke="black"></path>
            <path d="M 293 302 L 251 344" stroke="black"></path>
            <path d="M 251 344 L 189 344" stroke="black"></path>
            <path d="M 189 344 L 146 302" stroke="black"></path>
            <path d="M 146 302 L 147 240" stroke="black"></path>
            <path d="M 146 302 L 147 240" stroke="black"></path>
            <path d="M 147 240 L 190 198" stroke="black"></path>
            <path d="M 147 240 L 190 198" stroke="black"></path>
            <path d="M 420 184 L 292 240" stroke="black"></path>
            <path d="M 420 353 L 293 302" stroke="black"></path>
            <path d="M 305 473 L 251 344" stroke="black"></path>
            <path d="M 136 473 L 189 344" stroke="black"></path>
            <path d="M 18 354 L 146 302" stroke="black"></path>
            <path d="M 18 184 L 147 240" stroke="black"></path>
            <path d="M 276 138 L 351 216" stroke="black"></path>

            <path d="M 351 216 L 351 326" stroke="black"></path>
            <path d="M 351 326 L 275 402" stroke="black"></path>
            <path d="M 275 402 L 165 402" stroke="black"></path>
            <path d="M 165 402 L 88 326" stroke="black"></path>
            <path d="M 88 326 L 88 216" stroke="black"></path>
            <path d="M 88 216 L 165 138" stroke="black"></path>
            <path d="M 165 138 L 276 138" stroke="black"></path>

            <circle cx="251" cy="198" r="2" stroke="black" fill="white"></circle>
            <circle cx="136" cy="69" r="2" stroke="black" fill="white"></circle>
            <circle cx="305" cy="69" r="2" stroke="black" fill="white"></circle>
            <circle cx="420" cy="353" r="2" stroke="black" fill="white"></circle>
            <circle cx="420" cy="184" r="2" stroke="black" fill="white"></circle>
            <circle cx="305" cy="473" r="2" stroke="black" fill="white"></circle>
            <circle cx="136" cy="473" r="2" stroke="black" fill="white"></circle>
            <circle cx="18" cy="354" r="2" stroke="black" fill="white"></circle>
            <circle cx="18" cy="184" r="2" stroke="black" fill="white"></circle>

            <circle cx="292" cy="240" r="2" stroke="black" fill="white"></circle>
            <circle cx="293" cy="302" r="2" stroke="black" fill="white"></circle>
            <circle cx="251" cy="344" r="2" stroke="black" fill="white"></circle>
            <circle cx="189" cy="344" r="2" stroke="black" fill="white"></circle>
            <circle cx="146" cy="302" r="2" stroke="black" fill="white"></circle>
            <circle cx="147" cy="240" r="2" stroke="black" fill="white"></circle>
            <circle cx="190" cy="198" r="2" stroke="black" fill="white"></circle>

            <circle cx="276" cy="138" r="2" stroke="black" fill="white"></circle>
            <circle cx="351" cy="216" r="2" stroke="black" fill="white"></circle>
            <circle cx="351" cy="326" r="2" stroke="black" fill="white"></circle>
            <circle cx="275" cy="402" r="2" stroke="black" fill="white"></circle>
            <circle cx="165" cy="402" r="2" stroke="black" fill="white"></circle>
            <circle cx="88" cy="326" r="2" stroke="black" fill="white"></circle>
            <circle cx="88" cy="216" r="2" stroke="black" fill="white"></circle>
            <circle cx="165" cy="138" r="2" stroke="black" fill="white"></circle>
        </svg>
    </div>
</body>

</html>