<!DOCTYPE html>
<html>

<head>
    <title>Upload-attachments</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <div class="main-container">
            <div class="header-content">
                <div style="width:100%;padding: 0.5%;box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);display: grid;grid-template-columns: 90% 4% 4% 2%;align-items: center;">
                    <div>
                        <img src="../images/request-icons-02.png" alt="" width="35" height="auto">
                    </div>
                    <div style="text-align: end;">
                        <img src="../images/1.png" alt="" width="50" height="50" style="border-radius: 50%;">
                    </div>
                    <div style="text-align: center;">
                        <span>John Doe</span>
                    </div>
                    <div style="text-align:center;">
                        <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>

            <div class="body-content" style="display:grid;grid-template-columns:5% 95%;margin: 2%;border:1px solid #B5B5B5;width: 96%;">
                <div class="left-container">
                    <div style="transform:rotate(270deg);margin-top:60%;">
                        <span>REQUISITION</span>
                    </div>
                    <div>
                        <div></div>
                    </div>
                </div>
                <div class="right-container" style="padding:2%;background-color: #FCFCFC;">
                    <div>
                        <div class="attachments" style="background-color:#F0F0F0;padding:1%;border:1px solid #E0E0E0;">
                            <span>ATTACHMENTS</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>

                    <div style="padding: 3% 38% 8% 2%;border: 1px solid #F0F0F0;">
                        <div class="browse-file" style="display:grid;grid-template-columns:50% 50%;">
                            <div style="padding:3%;align-self: center;">
                                <div class="left-container">
                                    <div style="margin-bottom:3%;">
                                        <p>Select a file from my computer.</p>
                                        <p>Maximum allowed size is 5MB per file. Only documents like pdf, docx, ppt,
                                            xls etc
                                            are allowed.</p>
                                    </div>
                                    <div>
                                        <button style="border:0px;background-color: #32bdd2;color: #FFFFFF;border-radius: 5px;padding: 2%;">BROWSE</button>
                                    </div>
                                </div>
                            </div>
                            <div style="background-color: #32BDD2;
                            padding: 6%;
                          
                            align-self: center;">
                                <div class="drop-file-right-container" style="text-align: center;padding: 6%;border: 2px dashed #ffffff">
                                    <div>
                                        <img src="../images/request-icons-06.png" alt="" width="30" height="30">
                                    </div>
                                    <div>
                                        <span style="color:#FFFFFF;">Drop a file here</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="upload" style="display: grid;grid-template-columns: 80% 20%;border:1px solid #F0F0F0;">
                                <div>
                                    <div class="upload-1" style="border: 1px solid #DFEBEF;">
                                        <div style="padding:2%;">
                                            <div class="file">
                                                <div style="float:left">
                                                    <p>abc0037429023.doc</p>
                                                </div>
                                                <div style="float:right;">
                                                    <p>976 KB</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" placeholder="write the description" style="width: 100%;
                                                                                                        padding: 2%;
                                                                                                        border: 1px solid #DFEBEF">
                                        </div>
                                    </div>

                                </div>
                                <div style="border-right:1px solid #DFEBEF;margin: auto;">
                                    <button style="border: 0px;background-color: #32bdd2; color: #FFFFFF;border-radius: 25px;padding: 15%;">UPLOAD</button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="error" style="clear:both;">
                                <div style="float:left;">
                                    <img src="../images/request-icons-07.png" width="30" height="30">
                                </div>
                                <div style="background-color: #FFF5F5;padding: 0.5%;width: 80%;">
                                    <span>This field is required.</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="next-button-content" style="display:grid;grid-template-columns:90% 5% 5%;margin-top: 5%;align-items: center;">
                            <div>
                                <span style="border-bottom:2px solid #B5B5B5;">SAVE
                                    DRAFT</span>
                            </div>
                            <div>
                                <span style="border-bottom:2px solid #32BDD2;color:#32BDD2;">BACK</span>
                            </div>
                            <div style="background-color: #32BDD2;
                            border-radius: 25px;
                            text-align: center;
                            padding: 5%;">
                                <span style="color: #FFFFFF;">NEXT<img src="../images/request-icons-12.png" alt=""
                                        width="20" height="20" style="vertical-align: bottom;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







</body>

</html>