<html>

<head>
    <title>Fetch-data-locally</title>
</head>

<body onload="showDataWithImages()">
    <div id='movie-details'></div>
</body>
<script>
    function showDataWithImages() {
        var oXHR = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');

        function reportStatus() {
            if (oXHR.readyState == 4)
                showTheList(this.responseText);
        }

        oXHR.onreadystatechange = reportStatus;
        oXHR.open("GET", "movie_data_local.json", true);
        oXHR.send();

        function showTheList(json) {
            var arrItems = [];
            arrItems = JSON.parse(json);

            var div = document.getElementById('movie-details');
            div.innerHTML = '';

            for (i = 0; i <= arrItems.length; i++) {

                var divLeft = document.createElement('div');
                divLeft.innerHTML = arrItems[i].Name;

                var img = document.createElement('img');
                img.src = arrItems[i].Image;

                var divRight = document.createElement('div');
                divRight.setAttribute('style', 'padding-bottom: 1%;');
                divRight.appendChild(img);

                div.appendChild(divLeft);
                div.appendChild(divRight);

                var button = document.createElement('button');
                var text = document.createTextNode('next');
                button.appendChild(text);
                divRight.appendChild(button);
                button.style = "border:0px;background-color:#32bdd2;color:#FFFFFF;text-align:end;align-self:end;";
                button.setAttribute('onclick', 'fetchfunction()');

                var x = document.createElement("img");
                x.setAttribute("src", "../images/1.jpeg");
                x.setAttribute("width", "100");
                x.setAttribute("height", "100");
                x.setAttribute("alt", "movie-one");
                x.setAttribute("id", "first-movie");
                x.setAttribute("style", "display:none");
                document.body.appendChild(x);
            }
        }
    }

    function fetchfunction() {
        document.getElementById('first-movie').style.display = "block";
        document.getElementById('movie-details').style.display = "none";
    }

</script>

</html>