<html>

<head>
    <title>Fetch-data-locally</title>
</head>

<body onload="showDataWithImages()">
    <div id='movie-details'></div>
</body>
<script>
    function showDataWithImages() {
        var oXHR = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');

        function reportStatus() {
            if (oXHR.readyState == 4)
                showTheList(this.responseText);
        }
        oXHR.onreadystatechange = reportStatus;
        oXHR.open("GET", "movie_data_local.json", true);
        oXHR.send();

        function showTheList(json) {
            var arrItems = [];
            arrItems = JSON.parse(json);

            var div = document.getElementById('movie-details');
            div.innerHTML = '';

            for (i = 0; i <= arrItems.length; i++) {

                var divLeft = document.createElement('div');
                divLeft.innerHTML = arrItems[i].Name;

                var img = document.createElement('img');
                img.src = arrItems[i].Image;

                var divRight = document.createElement('div');
                divRight.setAttribute('style', 'padding-bottom: 1%;');
                divRight.appendChild(img);

                div.appendChild(divLeft);
                div.appendChild(divRight);

                var button = document.createElement('button');
                var text = document.createTextNode('next');
                button.appendChild(text);
                divRight.appendChild(button);
                button.style = "border:0px;background-color:#32bdd2;color:#FFFFFF;text-align:end;;";

                var input = document.createElement("input");
                input.type = "button";
                input.className = "BUTTON";
                input.value = "Choose this world";
                input.onclick = (function (id, arrItems) {
                    input.style = "border:0px;background-color:#32bdd2;color:#FFFFFF;text-align:end;";

                    return function () {
                        game.pickWorld(arrItems, id);
                    }
                }); (id, arrItems);
            }
        }
    }

    // var moviename = document.createElement("span");
    // var moviename = document.createTextNode("MOVIE-ONE");
    // divRight.appendChild(moviename);
    // moviename.setAttribute("style", "display:none;");

</script>

</html>