<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>JSON Demo</title>
</head>

<body>
    <ul id="users"></ul>
    <script>
        let contacts = {
            name: "Timothy",
            age: 35,
            address: {
                street: "1 Main St",
                city: "Montreal"
            },
            interests: ["cooking", "biking"]
        }
        let users = [
            {
                name: "Timothy",
                age: 35,
            },
            {
                name: "Georgette",
                age: 29
            },
            {
                name: "Craig",
                age: 54
            }
        ];
        let output = '';
        for (var i = 0; i < users.length; i++) {
            output += '<li>' + users[i].name + '</li>';
        }
        document.getElementById('users').innerHTML = output;
    </script>
</body>

</html>