<!DOCTYPE html>
<html>

<head>
    <title>Forgot password</title>
    <script src="../js/myrequest.js"></script>
    <style>
        *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    #forgot-password-popup{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    }
    </style>
</head>

<body style="background-color:#F6F8F9;padding: 2%;">
    <div style="background-color: #FFFFFF;padding-top: 15%;padding-bottom: 15%;box-shadow: 0px 0px 10px rgba(0,0,0,0.29);border-radius: 20px;">
        <div class="parent-cell" style="width:30%;margin:auto;">
            <div style="margin-bottom:10%;">
                <span style="border-bottom:2px solid #B5B5B5;">FORGOT PASSWORD</span>
                <p style="width:80%;margin-top: 2%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
                    mattis, tortor sit
                    amet tempor
                    vehicula.</p>
            </div>
            <div>
                <p>Email</p>
            </div>
            <div style="width:80%;margin-bottom: 3%;margin-top: 1%;">
                <input type="text" style="padding: 6px;border-radius: 5px;border:1px solid #000000;border:1px solid #D3D3D3;width: 100%;">
            </div>
            <div id="forgot-password-error-message" style="display:none;">
                <div class="4" style="margin-bottom:5%;">
                    <div>
                        <div class="4a" style="margin-bottom:3%;">
                            <div style="float:left;margin-right: 1%;">
                                <img src="../images/request-icons-07.png" alt="" width="10" height="10">
                            </div>
                            <div>
                                <span>This field is required</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="4b">
                            <div style="float:left;margin-right: 1%;">
                                <img src="../images/request-icons-07.png" alt="" width="10" height="10">
                            </div>
                            <div>
                                <span>This email is not registered with us</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:20%;">
                <button onclick="continuebutton()" style="border:0px;color: #FFFFFF;background-color:#32BDD2;padding: 12px;border-radius: 21px;box-shadow: 1px 1px 5px #5E6469;width: 100%;">CONTINUE</button>
            </div>
        </div>
    </div>

    <div onclick="forgot()" id="forgot-password-popup">
        <div style="padding: 3% 5% 4% 2%;background-color: #FFFFFF;border-radius: 6px;width: 25%;margin: auto;box-shadow: 0px 0px 25px rgba(0,0,0,0.4D);margin-top: 20%;">
            <span style="border-bottom:2px solid #B5B5B5;">FORGOT PASSWORD</span>
            <p style="margin-bottom:0px;margin-top:5%;">The link has been sent to your email.</p>
            <p style="margin-bottom:0px;margin-top:0px;">The generated link will be active for 24 hours.</p>
        </div>
    </div>

</body>

</html>