<!DOCTYPE html>
<html>

<head>
    <title>Login-error</title>
    <link rel="stylesheet" type="text/css" href="../css/login-error.css">
    <script src="../js/myrequest.js"></script>
</head>

<body style="background-color:#F6F8F9;">
    <div class="main-body-container">
        <div class="main-container">
            <div style="margin-bottom: 10%;">
                <span class="login-text">LOGIN</span>
            </div>
            <div style="margin-bottom: 2%;">
                <p>Email or Mobile Username</p>
            </div>
            <div style="padding-bottom:1%;">
                <input type="text" class="inputcontainer">
            </div>
            <div id="error-container" style="display:none;">
                <div class="4" style="margin-bottom:10%;">
                    <div style="float:left;margin-right: 2%">
                        <img src="../images/request-icons-07.png" alt="" width="10" height="10">
                    </div>
                    <div>
                        <span>This field is required</span>
                    </div>
                </div>
            </div>
            <div style="margin-bottom: 2%;">
                <p>Password</p>
            </div>
            <div style="padding-bottom:1%;margin-bottom: 1%;">
                <input type="password" placeholder="********" class="inputcontainer">
            </div>
            <div id="error-message" style="display:none;">
                <div class="7" style="margin-bottom:10%;">
                    <div style="float:left;margin-right: 2%">
                        <img src="../images/request-icons-07.png" alt="" width="10" height="10">
                    </div>
                    <div>
                        <span>This field is required</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="8">
                    <div style="float:left;">
                        <input type="checkbox">
                    </div>
                    <div style="float:left;">
                        <span>Remember me</span>
                    </div>
                    <div style="float:right;">
                        <a href="../views/forgotpassworderror.html" style="text-decoration:none;"><span style="border-bottom:1px solid #868686;color: black;">Forgot
                                Password</span></a>
                    </div>
                </div>
            </div>
            <div style="clear:both;padding-top:15%;">
                <button id="login-error" onclick="login()" class="login-button">LOGIN</button>
                <a href="../views/myrequestlistitems.html" style="text-decoration:none;">
                    <button id="login-without-error" onclick="loginbutton()" class="login-button" style="display:none;">LOGIN</button>
                </a>
            </div>
        </div>
    </div>

</body>

</html>