<!DOCTYPE html>
<html>

<head>
    <title>Upload-attachments</title>
    <script src="../js/myrequest.js"></script>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
        .dotted-line {
            border-left: 3px dotted #D3D3D3;
            height: 70px;
            margin-left: 25%;
        }
        .circle{
            width: 2%;
        background-color: #FFFFFF;
        border-radius: 50%;
        border: 1px solid #D3D3D3;
        position: absolute;
        text-align: center;
        padding: 0.5%;
        }
    </style>
</head>

<body>
    <div>
        <div class="main-container">
            <div class="header-content">
                <div style="width:100%;padding: 0.5%;box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);display: grid;grid-template-columns: 90% 4% 4% 2%;align-items: center;">
                    <div>
                        <img src="../images/request-icons-02.png" alt="" width="35" height="auto">
                    </div>
                    <div style="text-align: end;">
                        <img src="../images/1.png" alt="" width="50" height="50" style="border-radius: 50%;">
                    </div>
                    <div style="text-align: center;">
                        <span>John Doe</span>
                    </div>
                    <div style="text-align:center;">
                        <img src="../images/request-icons-05.png" alt="" width="10" height="10">
                    </div>
                </div>
            </div>

            <div class="body-content" style="display:grid;grid-template-columns:5% 95%;margin: 2%;border:1px solid #B5B5B5;width: 96%;">
                <div class="left-container">
                    <div style="transform:rotate(270deg);margin-top:60%;">
                        <span>REQUISITION</span>
                    </div>
                    <div style="margin-left: 30%;
                            margin-top: 70%;">
                        <div class="circle">
                            <span style="color:black;">1</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">2</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle" style="background-color:#32BDD2;">
                            <span class="text" style="color:#FFFFFF;">3</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">4</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">5</span>
                        </div>

                        <div class="dotted-line"></div>
                        <div class="circle">
                            <span class="text" style="color:black;">6</span>
                        </div>
                    </div>
                </div>
                <div class="right-container" style="padding:2%;background-color: #FCFCFC;">
                    <div>
                        <div class="attachments" style="background-color:#F0F0F0;padding:1%;border:1px solid #E0E0E0;">
                            <span>ATTACHMENTS</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>

                    <div style="padding: 3% 38% 8% 2%;border: 1px solid #F0F0F0;">
                        <div class="browse-file" style="display:grid;grid-template-columns:50% 50%;">
                            <div style="padding:3%;border: 1px solid #DFEBEF;">
                                <div class="left-container">
                                    <div style="margin-bottom:3%;">
                                        <p>Select a file from my computer.</p>
                                        <p>Maximum allowed size is 5MB per file. Only documents like pdf, docx, ppt,
                                            xls etc
                                            are allowed.</p>
                                    </div>
                                    <div>
                                        <button onclick="browseupload()" style="border:0px;background-color: #32bdd2;color: #FFFFFF;border-radius: 5px;padding: 2%;">BROWSE</button>
                                    </div>
                                </div>
                            </div>
                            <div style="background-color: #32BDD2;
                            padding: 6%;
                          
                            align-self: center;">
                                <div class="drop-file-right-container" style="text-align: center;padding: 6%;border: 2px dashed #ffffff">
                                    <div>
                                        <img src="../images/request-icons-06.png" alt="" width="30" height="30">
                                    </div>
                                    <div>
                                        <span style="color:#FFFFFF;">Drop a file here</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="upload-container" style="display:none;">
                            <div class="upload" style="display: grid;grid-template-columns: 80% 20%;border:1px solid #F0F0F0;">
                                <div>
                                    <div class="upload-1" style="border: 1px solid #DFEBEF;">
                                        <div style="padding:2%;">
                                            <div class="file">
                                                <div style="float:left">
                                                    <p>abc0037429023.doc</p>
                                                </div>
                                                <div style="float:right;">
                                                    <p>976 KB</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" placeholder="write the description" style="width: 100%;padding: 2%;border: 1px solid #DFEBEF">
                                        </div>
                                    </div>

                                </div>
                                <div style="border-right:1px solid #DFEBEF;margin: auto;">
                                    <button onclick="upload()" style="border: 0px;background-color: #32bdd2; color: #FFFFFF;border-radius: 25px;padding: 15%;">UPLOAD</button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div id="uploaderror" class="error" style="clear:both;display: none;">
                                <div style="float:left;">
                                    <img src="../images/request-icons-07.png" width="30" height="30">
                                </div>
                                <div style="background-color: #FFF5F5;padding: 0.5%;width: 80%;">
                                    <span>This field is required.</span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div id="uploadfile" class="attachment-document" style="width:60%;margin-top: 6%;display: none;">
                                <div style="margin-bottom:8%;">
                                    <div class="1" style="display:grid;grid-template-columns:90% 10%;align-items:center;border:1px solid #D5E2E8">
                                        <div>
                                            <div class="left-content" style="border-right:1px solid #D5E2E8">
                                                <div style="padding: 2%;
                                                padding-bottom: 5%;">
                                                    <div class="top-content">
                                                        <div style="float:left;">
                                                            <span>abc0037429023.doc</span>
                                                        </div>
                                                        <div style="float:right;">
                                                            <span>976 KB</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="clear:both;border-top:0.5px solid#D5E2E8;padding: 2%">
                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin:auto">
                                            <img src="../images/request-icons-15.png" alt="" width="30" height="30">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="2" style="display:grid;grid-template-columns:90% 10%;align-items:center;border:1px solid #D5E2E8">
                                        <div>
                                            <div class="left-content" style="border-right:1px solid #D5E2E8">
                                                <div style="padding: 2%;
                                                padding-bottom: 5%;">
                                                    <div class="top-content">
                                                        <div style="float:left">
                                                            <span>abc003745gb9023.doc</span>
                                                        </div>
                                                        <div style="float:right;">
                                                            <span>988 KB</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="clear:both;border-top:0.5px solid#D5E2E8;padding: 2%">
                                                    <p>Lorem ipsum dolor sit amet, consectetur
                                                        adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin:auto">
                                            <img src="../images/request-icons-15.png" alt="" width="30" height="30">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 8%;margin-bottom: 1%;">
                        <div class="Right-button-content" style="display: grid;grid-template-columns: 80% 10% 10%;align-items: center;">
                            <div>
                                <span style="border-bottom:2px solid #B5B5B5;padding-bottom: 0.5%">SAVE DRAFT</span>
                            </div>
                            <div style="text-align:center;">
                                <span style="border-bottom:2px solid #32BDD2;color: #32BDD2;padding-bottom: 2%">BACK</span>
                            </div>
                            <div>
                                <div class="next button icon">
                                    <div style="display: grid;width:60%;grid-template-columns: 60% 40%;text-align: center;border-radius: 21px;           
                                box-shadow: 1px 1px 5px #5E6469;
                                background-color: #32BDD2;align-items: center;">
                                        <div style="text-align:end;">
                                            <button style="border: 0px;color: #FFFFFF;background-color: #32BDD2;padding: 12px;border-radius: 21px">NEXT</button>
                                        </div>
                                        <div style="text-align:left;">
                                            <img src="../images/request-icons-12.png" alt="" width="20" height="15"
                                                class="next-button" style="align-self:center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>