* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-container{
    width:30%;margin:auto;margin-top:10%;box-shadow: 0px 0px 25px rgba(0,0,0,0.80);border-radius: 25px;
}
.header{
    background-color: #FCFCFC;border-radius: 25px 25px 0px 0px;box-shadow: 0px 3px 6px rgba(0,0,0,0.29);
}
.description-area{
    border:1px solid #B5B5B5;border-radius:4px;padding: 3%;width: 80%;
}
.input-date-content{
    border:1px solid #B5B5B5;padding: 1%;border-radius:4px;
}
.footer-container{
    box-shadow: 0px -3px 6px rgba(0,0,0,0.29);padding: 3%;border-radius: 0px 0px 37px 37px;
}
.done-button{
    border:0px;color: #FFFFFF;background-color:#32BDD2;width:20%;padding: 12px;border-radius: 21px;box-shadow: 1px 1px 5px #5E6469;
}
.calendar-image{
    margin-top: -8px;
    margin-left: 3%;    
}
.add-item{
    float:left;margin-top: 4%;margin-left: 4%;
}
.cancel-content{
    float:right;margin-top: 4%;margin-right: 4%;
}
.add-item-text{
    font-size:1.2vw;
}
/* @media screen and (max-device-width:1024px){
    .main-container{
        width:50%;
    }
    .cancel-content{
        float:right;margin-top: 3%;
    }
    .add-item-text{
        font-size:1.5vw;
    }
}

@media screen and (max-device-width:768px){
    .main-container{
        width:60%;
    }
    .add-item-text{
        font-size:2vw;
    }
} */