<!DOCTYPE html>
<html>

<head>
    <title>Account</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <div class="main-container" style="background-color:#EEEEEE">
            <div>
                <div class="header-container" style="display: grid;grid-template-columns: 84% 6% 8% 1%;
                align-items: center;box-shadow: 0px 0px 3px rgba(0,0,0,0.29);background-color: #FFFFFF;padding: 0.5%">
                    <div>
                        <img src="../images/burgermenuicon.png" alt="" width="30" height="30">
                    </div>
                    <div style="text-align:end">
                        <img src="../images/67.png" alt="" width="40" height="40">
                    </div>
                    <div style="text-align:center">
                        <span>John Doe</span>
                    </div>
                    <div>
                        <img src="../images/24.png" alt="" width="15" height="15">
                    </div>
                </div>
            </div>

            <div style="margin: 2%;box-shadow: 0px 0px 6px rgba(0,0,0,0.29);background-color: #FFFFFF;">
                <div class="body-container">
                    <div style="padding: 2% 0% 2% 2%;">
                        <span>Accounts</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua.</p>
                    </div>
                    <div style="padding-top:0.2%;background-color: #F0F0F0;">

                    </div>
                    <div>
                        <div style="display:grid;grid-template-columns:40% 60%;">
                            <div>
                                <div class="left-container">
                                    <div style="padding:5%;">
                                        <p style="padding-bottom:1%;">RENT INVOICE</p>
                                        <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod
                                            tempor
                                            incididunt ut
                                            labore et
                                            dolore magna aliqua.</p>
                                    </div>
                                    <div>
                                        <div class="left-content2" style="border-right:1px solid #CCCCCC;border-top:1px solid #CCCCCC;">
                                            <div style="padding:5%;background-color:#EEEEEE;border-bottom: 1px solid #CCCCCC">
                                                <p style="padding-bottom:1%;">RECEIPTS</p>
                                                <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit,
                                                    sed do eiusmod
                                                    tempor
                                                    incididunt ut
                                                    labore et
                                                    dolore magna aliqua.</p>
                                            </div>
                                            <div style="padding:5%;background-color:#EEEEEE;border-bottom: 1px solid #CCCCCC">
                                                <p style="padding-bottom:1%;">LEDGER</p>
                                                <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit,
                                                    sed do eiusmod
                                                    tempor
                                                    incididunt ut
                                                    labore et
                                                    dolore magna aliqua.</p>
                                            </div>
                                            <div style="padding:5%;background-color:#EEEEEE">
                                                <p style="padding-bottom:1%;">BILLS</p>
                                                <p style="width:70%;">Lorem ipsum dolor sit amet, consectetur
                                                    adipiscing elit,
                                                    sed do eiusmod
                                                    tempor
                                                    incididunt ut
                                                    labore et
                                                    dolore magna aliqua.</p>
                                            </div>
                                            <div style="padding-bottom:20%;border-right:1px solid #CCCCCC;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding:2%;">
                                <div class="right-container">
                                    <div>
                                        <span>RENT INVOICE</span>
                                    </div>
                                    <div style="width: 80%;margin: auto;margin-top: 5%;margin-bottom: 5%;">
                                        <div class="right-content2">
                                            <div>
                                                <div class="1" style="display:grid;grid-template-columns:5% 30% 65%;align-items:center;padding:3%;border-bottom: 1px solid #CCCCCC">
                                                    <div>
                                                        <img src="../images/31.png" alt="" width="20" height="20">
                                                    </div>
                                                    <div>
                                                        <p>Google Pay-Earn Flat Rs 250* on your 1st ever transaction</p>
                                                    </div>
                                                    <div style="text-align:end">
                                                        <img src="../images/23.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="2" style="display:grid;grid-template-columns:5% 30% 65%;align-items:center;padding:3%;border-bottom: 1px solid #CCCCCC">
                                                    <div>
                                                        <img src="../images/25.png" alt="" width="20" height="20">
                                                    </div>
                                                    <div>
                                                        <p>Debit/Credit Card</p>
                                                    </div>
                                                    <div style="text-align:end">
                                                        <img src="../images/23.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="3" style="display:grid;grid-template-columns:5% 30% 65%;align-items:center;padding:3%;border-bottom: 1px solid #CCCCCC">
                                                    <div>
                                                        <img src="../images/38.png" alt="" width="20" height="20">
                                                    </div>
                                                    <div>
                                                        <p>Net Banking</p>
                                                    </div>
                                                    <div style="text-align:end">
                                                        <img src="../images/23.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="4" style="display:grid;grid-template-columns:5% 30% 65%;align-items:center;padding:3%;border-bottom: 1px solid #CCCCCC">
                                                    <div>
                                                        <img src="../images/36.png" alt="" width="20" height="20">
                                                    </div>
                                                    <div>
                                                        <p>UPI</p>
                                                    </div>
                                                    <div style="text-align:end">
                                                        <img src="../images/23.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="5" style="display:grid;grid-template-columns:5% 30% 65%;align-items:center;padding:3%;border-bottom: 1px solid #CCCCCC">
                                                    <div>
                                                        <img src="../images/32.png" alt="" width="20" height="20">
                                                    </div>
                                                    <div>
                                                        <p>Net Banking</p>
                                                    </div>
                                                    <div style="text-align:end">
                                                        <img src="../images/23.png" alt="" width="20" height="20">
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-top:8%;">
                                                <div class="6" style="display: grid;grid-template-columns: 3% 97%;">
                                                    <div>
                                                        <img src="../images/66.png" alt="" width="10" height="10">
                                                    </div>
                                                    <div>
                                                        <span style="color:#32BDD2;border-bottom:1px solid #32BDD2;">BACK</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>