<!DOCTYPE html>
<html>

<head>
    <title>authors</title>
    <link rel="stylesheet" type="text/css" href="../css/authors.css">
</head>

<body>
    <div>
        <div class="main-container">
            <div>
                <div class="header-container">
                    <div>
                        <img src="../images/logo.png" alt="" width="40" height="40">
                    </div>
                    <div style="margin-right:2%;">
                        <div class="header-list-container">
                            <div>
                                <span>DASHBOARD</span>
                            </div>
                            <div>
                                <span style="border-bottom:4px solid #32BDD2;padding-bottom: 5%;">CATALOGUE</span>
                            </div>
                            <div>
                                <span>INVENTORY</span>
                            </div>
                            <div>
                                <span>PEOPLE</span>
                            </div>
                            <div>
                                <span>CIRCULATION</span>
                            </div>
                            <div>
                                <span>ACCOUNTS</span>
                            </div>
                            <div>
                                <span>REPORTS</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="../images/67.png" alt="" width="40" height="40">
                    </div>
                    <div>
                        <img src="../images/24.png" alt="" width="15" height="15">
                    </div>
                </div>
            </div>
            <div>
                <div class="body-container">
                    <div>
                        <div class="body-content-container">
                            <div style="margin-bottom:1%;">
                                <div class="authors-container">
                                    <div>
                                        <span class="author-text">Authors</span>
                                    </div>
                                    <div class="input-container">
                                        <div>
                                            <div style="float:left;width: 95%;">
                                                <input type="text" placeholder="Search..." class="input-text-container">
                                            </div>
                                            <div style="float:right;width: 5%;padding-top: 0.5%;">
                                                <img src="../images/6.png" alt="" width="20" height="20">
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align:center;">
                                        <button class="add-button">ADD</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="not-found-container">
                                    <div style="float:left;">
                                        <img src="../images/15.png" alt="" width="40" height="40">
                                    </div>
                                    <div style="float:left;padding-top: 2%;">
                                        <span>NOT FOUND</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both;">
                                <div style="margin-bottom:5%;margin-top:6%;">
                                    <div style="margin-bottom:1.5%;">
                                        <div class="detail-container">
                                            <div>
                                                <div class="details-container">
                                                    <div>
                                                        <img src="../images/67.png" alt="" width="40" height="40">
                                                    </div>

                                                    <div style="margin-left:3%;">
                                                        <span>Gour Gopal Das</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="edit-delete-content">
                                                    <div style="text-align:end;">
                                                        <img src="../images/3.png" alt="" width="30" height="30">
                                                    </div>
                                                    <div style="text-align:center;">
                                                        <img src="../images/2.png" alt="" width="30" height="30">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-bottom:1.5%;">
                                        <div class="detail-container">
                                            <div>
                                                <div class="details-container">
                                                    <div>
                                                        <img src="../images/67.png" alt="" width="40" height="40">
                                                    </div>

                                                    <div style="margin-left:3%;">
                                                        <span>Sri Sri Paramahamsa Yoganand</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="edit-delete-content">
                                                    <div style="text-align:end;">
                                                        <img src="../images/3.png" alt="" width="30" height="30">
                                                    </div>
                                                    <div style="text-align:center;">
                                                        <img src="../images/2.png" alt="" width="30" height="30">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-bottom:1.5%;">
                                        <div class="detail-container">
                                            <div>
                                                <div class="details-container">
                                                    <div>
                                                        <img src="../images/67.png" alt="" width="40" height="40">
                                                    </div>

                                                    <div style="margin-left:3%;">
                                                        <span>Sadhguru</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="edit-delete-content">
                                                    <div style="text-align:end;">
                                                        <img src="../images/3.png" alt="" width="30" height="30">
                                                    </div>
                                                    <div style="text-align:center;">
                                                        <img src="../images/2.png" alt="" width="30" height="30">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="detail-container">
                                            <div>
                                                <div class="details-container">
                                                    <div>
                                                        <img src="../images/67.png" alt="" width="40" height="40">
                                                    </div>

                                                    <div style="margin-left:3%;">
                                                        <span>Sadhguru</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="edit-delete-content">
                                                    <div style="text-align:end;">
                                                        <img src="../images/3.png" alt="" width="30" height="30">
                                                    </div>
                                                    <div style="text-align:center;">
                                                        <img src="../images/2.png" alt="" width="30" height="30">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center;">
                                <span>Showing 4 of 120, click here to load more</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="body-dropdown-conatainer">
                            <div style="display:grid;grid-template-columns: 46% 7% 47%;">
                                <div class="bottom-container"></div>
                                <div>
                                    <div class="rotated-half-circle">
                                    </div>
                                    <img src="../images/158.png" alt="" width="10" height="10" class="dropdown-container">
                                </div>
                                <div class="bottom-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>