<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/document.css">
</head>

<body>
    <div>
        <div class="main-container">
            <div>
                <div class="header-container">
                    <div>
                        <img src="../images/burgermenuicon.png" alt="" width="30" height="30">
                    </div>
                    <div style="text-align:end">
                        <img src="../images/67.png" alt="" width="40" height="40">
                    </div>
                    <div style="text-align:center">
                        <span>John Doe</span>
                    </div>
                    <div>
                        <img src="../images/24.png" alt="" width="15" height="15">
                    </div>
                </div>
            </div>
            <div class="body-content-container">
                <div class="body-container">
                    <div style="padding: 2% 0% 2% 2%;">
                        <span>DOCUMENT</span>
                        <p style="padding-top:1%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut
                            labore
                            et
                            dolore magna aliqua.</p>
                    </div>
                    <div style="padding-top:0.2%;background-color: #F0F0F0;">

                    </div>
                    <div>
                        <div class="document">
                            <div>
                                <div class="document-details-container" style="margin-bottom:2%;">
                                    <div>
                                        <span>Test9</span>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                    <div style="text-align:end;">
                                        <span>CREATED</span>
                                        <p>21 Jul 2017 01:07 PM</p>
                                    </div>
                                    <div style="text-align:end">
                                        <img src="../images/106.png" alt="" width="30" height="30">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="document-details-container" style="margin-bottom:2%;">
                                    <div>
                                        <span>Lease Agreement</span>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                    <div style="text-align:end;">
                                        <span>LAST UPDATED</span>
                                        <p>14 Mar 2018 04:07 PM</p>
                                    </div>
                                    <div style="text-align:end">
                                        <img src="../images/106.png" alt="" width="30" height="30">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="document-details-container">
                                    <div>
                                        <span>Guest Check-in Form</span>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                    </div>
                                    <div style="text-align:end;">
                                        <span>LAST UPDATED</span>
                                        <p>31 Aug 2017 02:08 PM</p>
                                    </div>
                                    <div style="text-align:end">
                                        <img src="../images/106.png" alt="" width="30" height="30">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>