<!DOCTYPE html>
<html>

<head>
    <title>Account</title>
    <style>
        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <div>
        <div class="main-container">
            <div>
                <div class="header-container" style="display: grid;
                grid-template-columns: 90% 4% 4% 2%;
                align-items: center;
                box-shadow: 0px 0px 3px rgba(0,0,0,0.29);
                background-color: #FFFFFF;padding: 0.5%">
                    <div>
                        <img src="../images/burgermenuicon.png" alt="" width="30" height="30">
                    </div>
                    <div style="text-align:end">
                        <img src="../images/67.png" alt="" width="40" height="40">
                    </div>
                    <div style="text-align:center">
                        <span>John Doe</span>
                    </div>
                    <div>
                        <img src="../images/24.png" alt="" width="15" height="15">
                    </div>
                </div>
            </div>
            <!-- <div>body-container</div> -->
        </div>
    </div>
</body>

</html>