*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-center-column{
    display: flex;flex-direction: column;align-items: center;
}

.header{
    display: flex;flex-direction: row;padding: 1%;
    background-color: #FFFFFF;align-items: center;
    box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);
}
.profile-image{
    width:50px;height: 50px;border-radius: 50%;
}
.Accounts{
    padding: 3px;background-color: #FFFFFF;width:30%;
}
.bodycontent{
    margin: 2%;box-shadow: 0 0 6px #B5B5B5;
    background-color: #FFFFFF
}
.account-content{
    padding: 2%;
}
.left-content{
    width:90%;
}
.right-content{
    width:100%;padding: 3%;
}
.rent-invoice-container{
    display: flex;
    justify-content: space-between;
    padding: 4%;
    background-color: #F0F0F0;
    align-items: center;
    border-radius: 8px;
    width:90%;
    box-shadow: 5px 8px 10px #cccccc;
    margin-left: 3%;
}
.line-space{
    margin-bottom: 5%;
}
.receipts-container{
    width:100%;min-height: 100vh;
    border-right: 1px solid #cccccc
}
.main-container{
    background-color: #F0F0F0;;
}
.head-text{
    font-family: 'Roboto Regular';color: #000000;
}
.profile-name{
    font-family: 'Roboto Medium';color: #747474;
}
.paragraph-text{
    font-family: 'Lato Regular';color: #747474;
}