*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-center-column{
    display: flex;flex-direction: column;align-items: center;
}
.header{
    display: flex;flex-direction: row;padding: 2%;background-color: #FFFFFF;align-items: center;
    justify-content: space-between;border-radius: 20px 20px 0px 0px;box-shadow: 0px 0px 6px rgba(0,0,0,0.29);
}
.profile-image{
    width:30px;height: 30px;border-radius: 50%;
}
.main-container{
    width: 35%;border-radius: 20px;margin: auto;margin-top: 10%;box-shadow: 0px 0px 4px rgba(0,0,0,0.34);
}
.body-content{
    padding: 6%;border-top:1px solid #b5b5b5;
}
.profile-data-container{
    display: flex;flex-direction: row;background-color: #F0F0F0;align-items:center;width: 100%;
    padding: 2%;border-bottom: 1px solid #b5b5b5;
}
.done-button-container{
    display: flex;flex-direction: row;text-align: end;
}
.footer{
    display: flex;flex-direction: row;justify-content: space-between;border-top:1px solid #b5b5b5;padding: 2%;align-items: center;
}
.done-button{
    padding: 20%;color: #FFFFFF;background-color: #32BDD2;border-radius: 25px;border: 0px;
}
.Search-content{
    display: flex;flex-direction: row;border: 1px solid #B5B5B5;border-radius: 25px;align-items: center;margin: 4% 0% 5% 0%;
}
.search-input-content{
    border:1px solid #FFFFFF;padding: 2%;border-radius: 25px;
}
.Profile-content{
    text-align: -webkit-center;border: 1px solid #b5b5b5;margin-top: 8%;margin-bottom: 8%;
}
.width-twenty{
    width:15%;
}
.width-thirty{
    text-align:start;width:35%
}
.width-fifty{width: 50%}
.not-selected-person-content{
    align-self:center;border-top:2px dashed #32BDD2;border-left: 2px dashed #32BDD2;border-bottom: 2px dashed #32BDD2;border-radius: 25px 0px 0px 25px;
    width:85%;padding: 2%;padding: 2% 10% 2% 2%;margin-right: -5%;
}
.button-content{
    width: 15%;
}