*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-center-column{
    display: flex;flex-direction: column;align-items: center;
}

.header-container{
    display: flex;flex-direction: row;padding: 1%;
    background-color: #FFFFFF;align-items: center;
    box-shadow: 2px 2px 1px 1px rgb(230, 228, 228);
}
.profile-image{
    width:50px;height: 50px;border-radius: 50%;
}

.bodycontent{
    margin: 2%;box-shadow: 0 0 6px #B5B5B5;
    background-color: #FFFFFF
}
.main-container{
    background-color: #EEEEEE;
}
.dotted-line {
    border-left: 3px dotted #D3D3D3;
    height: 70px;
    margin-left: 5%;
}
.circle{
    
background-color: #FFFFFF;
border-radius: 50%;
border: 1px solid #D3D3D3;
height: absolute;
position: absolute;
text-align: center;
padding: 2%;
transform: rotate(270deg);
width:10%;
}
.more-details-container{
    justify-content: flex-end;border-top:1px solid #CCCCCC;padding: 1% 2% 1% 0%;
}
.select-container{
    justify-content: center;border-radius: 20px;width: 20%;background-color: #FFFFFF;padding: 1%;width: 25%;
}