*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}
.header-container{
    display: grid;grid-template-columns: 88% 4% 6% 2%;align-items: center;background-color: #FFFFFF;box-shadow: 0 0 4px rgba(0,0,0,0.29);padding: 0.5%;
}
.body-container{
    margin: 2%;box-shadow: 0px 0px 6px rgba(0,0,0,0.29);background-color: #FFFFFF;
}
.my-request-container{
    display: grid;grid-template-columns: 30% 60% 10%;align-items: center;
}
.Submitted-container{
    clear:both;display:grid;grid-template-columns:46% 35% 15% 4%;align-items:center;padding: 2%;border-bottom: 0.5px solid #DFEBEF;
}
.main-container{
    background-color: #F6F8F9;
}