*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font family */
@font-face {
    font-family: 'Anton';
    src: url(../fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Lato Light';
    src: url(../fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: 'Lato Regular';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(../fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Lato Black';
    src: url(../fonts/Lato/Lato-Black.ttf);
}
.header{
    display: grid;grid-template-columns: 88fr 4fr 4fr 4fr;background-color: #FFFFFF;box-shadow: 0 0 4px rgba(0,0,0,0.29);
}
.main-content-container{
    background-color: #F6F8F9;
}
.body-container{
    display: grid;grid-template-columns: 5fr 95fr;margin: 2%;
}
.right-container{
    box-shadow: 0 0 4px rgba(0.0,0.0,0.0,0.29);background-color: #FFFFFF;
}
.request-view-content{
    background-color: #245070;padding: 3%;
}
.submitted-container{
    display: grid;grid-template-columns: 40fr 40fr 20fr;background-color: #FFFFFF;border-radius: 29px;padding: 1%;
    box-shadow: 0px 3px 6px #A3A3C45A;width: 80%;margin: auto;position: absolute;
}
.left-container{
    width:60%;box-shadow: 0 3px 6px rgba(0.0,0.0,0.0,0.29);border-radius: 15px 0px 0px 15px;height:20%;background-color: #FFFFFF;
}
.left-arrow-container{
    background-color: #245070;border-radius: 15px 0px 0px 0px;text-align: center;height: 15%;padding-top:25%;
}
.list-items-container{
   display: grid;grid-template-columns: 40fr 30fr 20fr 10fr;margin-left: 2%;padding-bottom: 2%;padding-top: 2%;margin-right: 2%;
}
.attachments-container{
    padding-top: 5%;padding-left: 2%;padding-bottom: 5%;
}
.left-content-images{
    width:50%;
}